.page-content.product_page 
    background-color: #032d50
    background-image: url("../images/bg-product.jpg")
    background-repeat: no-repeat 
    background-size: 100% auto 
    background-position: top right

    @media (max-width: $screenMob)
        background-image: none

    .social-block
        display: none

        @media (max-width: $screenMob)
            display: flex
            justify-content: center
            padding-top: 0.5rem
            padding-bottom: 1.7rem