.actions-block
    position: relative
    padding-top: 7.2rem
    padding-bottom: 6.7rem
    background-color: #031f35

    @media (max-width: $screenMob)
        padding-top: 3.1rem
        padding-bottom: 5.2rem

    &__wrapper 
        display: flex 
        justify-content: center

        @media (max-width: $screenMob)
            flex-direction: column
            padding-left: 2rem
            padding-right: 2rem

    .btn 
        margin: 0 2.9rem
        width: 33.3rem

        @media (max-width: $screenMob)
            box-sizing: border-box
            margin: 0 0 3.3rem 0
            width: 100%

    .social-block
        position: absolute
        top: 50%
        transform: translateY(-50%)
        right: 0
        padding-top: 0

        @media (max-width: $screenMob)
            position: static
            transform: none
            margin-top: 1rem