.auth-btn 
    display: flex 
    align-items: center
    margin: 0 1.1rem
    min-width: 29.8rem
    padding-left: 0
    padding-right: 0
    transform: translateZ(0)

    @media (max-width: $screenMob)
        margin: 0
        margin-top: 3.5rem
        min-width: 28rem

    &--vk 

        img 
            width: 2.6rem
            height: 1.5rem

    &--fb 

        img 
            width: 1.4rem
            height: 2.7rem

            @media (max-width: $screenMob)
                width: 1rem
                height: 2rem

    .icon 
        position: relative
        width: 8rem
        height: 100%
        transform: translateZ(0)

        @media (max-width: $screenMob)
            width: 7.2rem

        &:after 
            content: ""
            position: absolute
            top: 50%
            right: 0
            margin-top: -1.5rem
            height: 3rem
            width: 0.1rem
            background-color: rgba(255, 255, 255, 0.1)

        img 
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            display: block
            fill: #fff

    span 
        position: relative
        display: block
        box-sizing: border-box 
        padding-left: 2rem
        width: 100%
        text-align: left
        text-transform: uppercase
        font-family: $font-alt
        font-weight: 500
        font-size: 2.4rem
        line-height: 2.4rem
        color: #fff
        transform: translateZ(0)

        @media (max-width: $screenMob)
            padding-top: 0.6rem
            padding-bottom: 0.6rem
            font-size: 2rem

    &.button--aylen::before 
        background: #317eb1

    &.button--aylen::after 
        background: #00aeef

    &.button--aylen:hover 
        color: #317eb1

    .ripple-obj 
        fill: #114674
