.breadcrumbs 
    position: relative
    display: inline-block
    vertical-align: top
    margin: 0
    padding-left: 0.3rem
    text-transform: uppercase
    font-family: $font-alt 
    font-weight: 500
    font-size: 2rem
    line-height: 3.5rem
    color: #114673

    @media (max-width: $screenMob) 
        display: none

    a 
        color: #114673
        transition: color 0.3s ease

    &:before 
        content: ""
        position: absolute
        top: 50%
        right: calc(100% + 1.4rem)
        margin-top: -0.2rem
        height: 1px
        width: 50rem
        background-color: #114573
        transition: background-color 0.3s ease

    &:hover 

        a 
            color: $blue

        &:before
            background-color: $blue