.btn 
    position: relative
    display: inline-block
    vertical-align: top
    box-sizing: border-box
    padding: 1.6rem 2.8rem
    text-transform: uppercase
    text-align: center
    font-family: $font
    font-weight: 300
    font-size: 1.6rem
    line-height: 2.5rem
    color: #fff
    background-color: $transparent
    border: none 
    border-radius: 0
    outline: none 
    transition: 200ms background cubic-bezier(0.4, 0, 0.2, 1)
    cursor: pointer
    -webkit-backface-visibility: hidden
    -moz-osx-font-smoothing: grayscale

    @media (max-width: $screenMob)
        padding: 0.3rem 1rem
        width: 100%
        font-size: 2rem
        line-height: 3.7rem

    &:hover,
    &:focus,
    &:active 
        opacity: 0.9

    &--binary 
        margin: 0 2rem
        width: 14.6rem

        @media (max-width: $screenMob)
            width: 12.5rem
            margin: 0 1.5rem

    &--pink 
        font-family: $font-alt 
        text-transform: uppercase
        font-weight: 500
        font-size: 2.3rem
        background-color: $pink
        box-shadow: 0 0.6rem 3.5rem rgba(245,72,152,.51), 0 0 0.6rem rgba(39,189,240,.47)

        @media (max-width: $screenMob)
            font-size: 2rem

    &--blue 
        font-family: $font-alt 
        text-transform: uppercase
        font-weight: 500
        font-size: 2.3rem
        color: #fff
        background-color: $blue
        box-shadow: 0 6px 35px rgba(39,189,240,.51)

        @media (max-width: $screenMob)
            font-size: 2rem

        &.button--aylen::before 
            background: #317db1

        &.button--aylen::after 
            background: #195d8b

        &.button--aylen:hover 
            color: #317db1

        .ripple-obj
            fill: $blue

    &--steel 
        padding-top: 0.3rem
        padding-bottom: 0.3rem
        font-family: $font-alt 
        font-weight: 500
        font-size: 2.2rem
        line-height: 5.1rem
        color: #fff
        background-color: #114674

        @media (max-width: $screenMob)
            font-size: 2rem
            line-height: 3.7rem

        &.button--aylen::before 
            background: #032b4d

        &.button--aylen::after 
            background: #0b3b64

        &.button--aylen:hover 
            color: #114674

        .ripple-obj
            fill: #032b4d

    &--light 
        padding-top: 0.3rem
        padding-bottom: 0.3rem
        font-family: $font-alt 
        font-weight: 500
        font-size: 2.2rem
        line-height: 5.1rem
        color: #031f36
        background-color: $blue

        @media (max-width: $screenMob)
            font-size: 2rem

        &.button--aylen::before 
            background: #032b4d

        &.button--aylen::after 
            background: #0b3b64

        &.button--aylen:hover 
            color: #114674

        .ripple-obj
            fill: #032b4d

.ripple-obj
    height: 100%
    pointer-events: none
    position: absolute
    top: 0
    left: 0
    z-index: 0
    width: 100%
    fill: #AD1457

.ripple-obj use
    opacity: 0

.button.button--aylen 
    background: #fff
    color: #37474f
    overflow: hidden
    -webkit-transition: color 0.3s
    transition: color 0.3s

    &.btn--pink 
        background-color: $pink 
        color: #fff

    &.btn--blue 
        background-color: $blue 
        color: #fff

        &.disabled 
            background-color: #114674
            box-shadow: none

    &.auth-btn
        background-color: #1a5e8b
        color: #fff

    &.btn--steel 
        background-color: #114674
        color: #fff

    &.btn--light
        color: #031f36
        background-color: $blue

        @media (max-width: $screenMob)
            color: #fff

    &.disabled
        color: #031f36

        &:before,
        &:after 
            display: none

.button--aylen::before,
.button--aylen::after 
    content: ''
    position: absolute
    height: 100%
    width: 100%
    right: 100%
    top: 0
    z-index: -1
    -webkit-transition: -webkit-transform 0.3s
    transition: transform 0.3s
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1)
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1)

.button--aylen::before 
    background: #e6186b

.button--aylen::after 
    background: #e9347d

.button--aylen:hover 
    color: #fff

.button--aylen:hover::before,
.button--aylen:hover::after 
    -webkit-transform: translate3d(100%, 0, 0)
    transform: translate3d(100%, 0, 0)

.button--aylen:hover::after 
    -webkit-transition-delay: 0.175s
    transition-delay: 0.175s
