.characters 
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: -6.8rem

    &__question-mark
        position: absolute
        width: 100%
        height: 65rem
        transform: translateY(-5rem)
        top: 10rem
        left: 0
        opacity: 1
        z-index: 3
        transition: opacity .3s ease-in-out

        @media (max-width: $screenMob)
            display: none

        &._active
            span
                opacity: 1
                transform: scale(1)

        span
            display: block
            width: 10rem
            height: 14rem
            line-height: 0.8
            font-size: 18rem
            opacity: 0
            transform: scale(0)
            transition: all .3s ease-in-out
            transform-origin: 50% 50%
            +vAlignAbs()

    &__wrapper 
        width: 100%
        height: 76.7rem

        @media (max-width: $screenMob)
            position: relative
            height: 40.7rem

    &__trigger
        width: 100%
        height: 76.7rem
        position: absolute
        top: 0
        left: 0
        z-index: 2

        &._hide
            display: none

    &:not(._active):not(._cycling) .character:nth-child(even)
        animation-play-state: paused

.glow 
    position: absolute
    top: -29rem
    left: -13rem
    width: 67.7rem
    height: 83.7rem
    opacity: 0
    pointer-events: none
    z-index: -1
    transition: opacity 0.4s ease

    @media (max-width: $screenMob)
        left: -5rem
        width: 36.1rem
        height: 57.8rem

    ._hover &
        opacity: 0.9

    img 
        display: block
        width: 100%
        height: auto

        @media (max-width: $screenMob)
            display: none

        &.glow-mob 
            display: none

            @media (max-width: $screenMob)
                display: block

.character__name, .character__info
    color: #062C52
    margin: 0
    transition: color .3s ease-in-out .1s

.character
    height: auto !important
    align-self: flex-end

    &--01, &--04
        animation: parallax-1 10s ease-in-out infinite alternate

    &--02, &--05
        animation: parallax-2 10s ease-in-out infinite alternate

    &--03, &--06
        animation: parallax-3 10s ease-in-out infinite alternate

    &--01, &--04, &--02, &--05, &--03, &--06
        @media (max-width: $screenMob)
            animation: none

    &._hover
        svg
            opacity: 0

    svg 
        position: absolute
        top: -8rem
        bottom: 0
        left: 0
        right: 0
        padding-top: 8rem
        width: 100%
        max-height: 100%
        height: auto
        z-index: 1
        transform: translateZ(0)
        opacity: 0.92
        transition: opacity 0.4s ease

        @media (max-width: $screenMob)
            top: 0
            padding-top: 0

        &:after
            content: ''
            position: absolute
            width: 100%
            height: 5rem
            top: -5rem
            left: 0

        &:hover
            opacity: 0

        //path, path ~ path, path ~ g
        //    transition: opacity 0.4s ease
        //    opacity: 0.92

            &:hover, &:hover ~ path, &:hover ~ g
                opacity: 0

    &--01
        bottom: 6rem
        width: 39.1rem

        @media (max-width: $screenMob)
            bottom: 1.3rem
            width: 17.27rem

        .character__descr
            top: 13rem
            right: -1rem

        .mask
            top: calc(-8rem - 1px)

            @media (max-width: $screenMob)
                top: -1px

    &--02
        bottom: 9.1rem
        width: 44.5rem

        @media (max-width: $screenMob)
            bottom: 4.8rem
            width: 19.655rem

        .mask
            left: 0.3%

        .glow

            @media (max-width: $screenMob)
                left: -3rem

        .character__descr
            top: 10rem
            right: 24rem

    &--03
        width: 43.4rem
        bottom: 7rem

        @media (max-width: $screenMob)
            bottom: 3.3rem
            width: 19.144rem

        .glow

            @media (max-width: $screenMob)
                left: -8rem

        .character__descr
            top: 11rem
            right: 3rem

    &--04
        width: 42.7rem
        bottom: 6rem

        @media (max-width: $screenMob)
            bottom: 3rem
            width: 18.86rem

        .glow
            top: -32rem

            @media (max-width: $screenMob)
                left: -5rem

        .character__descr
            top: 5rem
            right: 28rem

    &--05
        bottom: 5.2rem
        width: 38.6rem

        @media (max-width: $screenMob)
            bottom: 0
            width: 17.05rem

        .character__descr
            top: 9rem
            right: -3rem

    &--06
        bottom: 10rem
        width: 41.2rem

        @media (max-width: $screenMob)
            bottom: 3.3rem
            width: 18.2rem

        .mask
            left: 1.3%
            top: calc(-8rem - 0.1%)

            @media (max-width: $screenMob)
                top: -0.1%

        .character__descr
            top: 9rem
            right: 0

.character__image
    display: block
    width: 100%
    height: auto
    transform: translateZ(0)
    opacity: 0.9

    ._hover &
        opacity: 1

.character__descr 
    position: absolute
    max-width: 14rem
    opacity: 0
    z-index: 2
    transition: opacity 0.3s ease-in-out

    @media (max-width: $screenMob)
        display: none !important

    ._hover-cont &
        opacity: 1

    .character__name, .character__info

        ._hover-cont &
            color: #88bfe5

.character__name
    text-transform: uppercase
    font-family: $font-alt 
    font-size: 3rem
    line-height: 3rem
    color: #062C52

.character__info
    font-weight: 300
    font-size: 1.8rem
    line-height: 2rem