.choose-form-footer
    position: relative
    padding-top: 2.6rem
    padding-bottom: 7.7rem
    background-color: #031f36

    @media (max-width: $screenMob)

        .nominees &
            padding-top: 4rem
            padding-left: 2rem
            padding-right: 2rem
            padding-bottom: 5rem

    &__social
        position: absolute
        left: 50%
        top: 0.5rem
        margin: 0
        margin-left: 50.2rem

        @media (max-width: $screenMob)
            position: static
            margin: 0
            padding-top: 4.3rem

    &__inner 
        margin: 0 auto 
        width: 42.2rem

        @media (max-width: $screenMob)
            width: 28rem

    &__btn 
        display: block
        width: 100%
        font-size: 2.4rem

        @media (max-width: $screenMob)
            margin-top: 3.3rem
            font-size: 2rem

    &__input 
        position: absolute
        width: 0
        height: 0
        opacity: 0

        &:checked + label 
            color: $blue 

            a 
                color: $blue

            &:before 
                border-color: $blue

            &:after 
                opacity: 1

    &__label 
        position: relative
        display: block
        margin-bottom: 2rem
        padding-left: 3.4rem
        font-size: 1.6rem
        line-height: 2rem
        color: #114673
        transition: color 0.3s ease
        cursor: pointer

        &:hover 
            color: $blue 

            &:before 
                border-color: $blue

        a 
            color: #114673
            text-decoration: underline

        &:before 
            content: ""
            position: absolute
            left: 0
            top: -0.4rem
            width: 1.9rem
            height: 1.9rem
            border: 0.2rem solid #114673
            transition: border-color 0.3s ease

        &:after 
            content: ""
            position: absolute
            top: 0
            left: 0.3rem
            width: 1.7rem
            height: 1.5rem
            background-image: url("../images/icon-check.png")
            background-repeat: no-repeat 
            background-size: contain 
            background-position: center
            opacity: 0
            transition: opacity 0.3s ease
