.faq-page 

    @media (max-width: $screenMob)
        padding-top: 2.4rem

        .section__wrapper 
            padding: 0
            width: 32rem

.faq
    margin-left: 0.3rem
    min-width: 68.8rem

    @media (max-width: $screenMob)
        margin-left: 0 
        padding-left: 2rem
        padding-right: 2rem
        width: 28rem
        min-width: 28rem