.feedback 
    margin-left: 3.6rem
    margin-top: -1.3rem
    margin-bottom: auto
    padding: 1.4rem 3.5rem 4rem 3.8rem
    box-sizing: border-box
    width: 40.6rem
    min-width: 40.6rem
    background-color: #031f36

    @media (max-width: $screenMob)
        margin-left: 0
        margin-top: 0
        margin-bottom: 0
        padding-left: 2rem
        padding-right: 2rem
        padding-top: 3.8rem
        width: 32rem
        min-width: 32rem

    &__title 
        color: #114674

        &--success 
            margin-top: 1rem
            margin-bottom: 3.6rem
            line-height: 6.5rem
            color: #fff

            @media (max-width: $screenMob)
                margin-top: -1.7rem
                margin-bottom: 0.1rem

    &__text 
        margin: 0
        max-width: 32rem
        font-size: 1.6rem
        line-height: 2rem

        @media (max-width: $screenMob)
            text-align: center
            line-height: 2.4rem

    &__btn 
        margin-top: 12.5rem
        width: 100%
        font-size: 2.4rem
        letter-spacing: 0.05rem

        @media (max-width: $screenMob)
            margin-top: 4.2rem
            margin-bottom: 1.8rem
            font-size: 2rem
            line-height: 3.7rem
            color: #fff

            .desktop-only 
                display: none

.feedback-form
    margin-top: 3.6rem
    margin-bottom: 1.2rem

    @media (max-width: $screenMob)
        margin-top: 2.5rem

    &__field-wrapper 
        position: relative
        margin-bottom: 0.8rem
        padding-top: 2.7rem

        @media (max-width: $screenMob)
            margin-bottom: 0
            padding-top: 2.5rem

        &.filled 
            overflow: hidden

            // &:after 
            //     content: ""
            //     position: absolute
            //     top: 5.9rem
            //     left: 0.2rem
            //     width: 90%
            //     height: 1.4rem
            //     background-color: #031f36

            //     @media (max-width: $screenMob)
            //         top: 5.7rem

            .feedback-form__label
                animation: form-labels-hide 0.3s ease-in forwards 0.00001s, form-labels-reveal 0.3s ease-in forwards 0.3s

    &__label 
        position: absolute
        top: 3.95rem
        left: 1.4rem
        display: block
        font-size: 1.6rem
        line-height: 2.4rem
        color: #114674
        letter-spacing: 0.07rem
        transition: top 0.3s ease, left 0.3s ease, max-height 0.3s ease

        @media (max-width: $screenMob)
            top: 3.8rem

    &__field 
        box-sizing: border-box
        padding: 1rem 1.2rem
        display: block
        width: 100%
        background-color: $transparent
        font-size: 1.6rem
        line-height: 2.5rem
        color: #fff
        border: 0.2rem solid #114674

        &:focus 
            outline: none

    &__message 
        box-sizing: border-box
        padding: 1rem 1.2rem
        display: block
        width: 100%
        height: 13rem
        background-color: $transparent
        font-size: 1.6rem
        line-height: 2.5rem
        color: #fff
        border: 0.2rem solid #114674
        resize: none
        overflow: hidden

        @media (max-width: $screenMob)
            height: 12.4rem

        &:focus 
            outline: none

    &__submit.btn 
        width: 100%

        &.disabled 
            color: #031f36


    input::-webkit-input-placeholder 
      color: $transparent

    input:-moz-placeholder 
      color: $transparent

    input::-moz-placeholder 
      color: $transparent

    input:-ms-input-placeholder 
      color: $transparent

    textarea::-webkit-input-placeholder 
      color: $transparent

    textarea:-moz-placeholder 
      color: $transparent

    textarea::-moz-placeholder 
      color: $transparent

    textarea:-ms-input-placeholder 
      color: $transparent

.captcha-block
    margin: 4.2rem 0 4rem 0
    height: 8.5rem

    @media (max-width: $screenMob)
        margin: 2.8rem 0
        overflow: hidden

@keyframes form-labels-hide
    
    0% 
        top: 4.1rem
        opacity: 1

    15% 
        top: 5.4rem
        opacity: 0

    100%
        top: 4.1rem
        opacity: 0


@keyframes form-labels-reveal 
    
    0% 
        max-height: 0
        overflow: hidden 
        top: 4.1rem
        left: 1.4rem
        opacity: 0

    100% 
        max-height: 2.3rem 
        overflow: hidden 
        top: 0
        left: 0
        opacity: 1