.filters-trigger
    display: none
    box-sizing: border-box 
    padding: 0.3rem 1rem 0.2rem 1rem
    width: 28rem
    text-align: center
    text-transform: uppercase
    font-family: $font-alt
    font-weight: 500
    font-size: 2rem
    line-height: 3.83rem
    color: $blue
    background-color: #0b3b63 
    border: none

    @media (max-width: $screenMob)
        display: block

.filters-icon
    position: absolute
    top: 50%
    right: 1.7rem
    transform: translateY(-50%)
    width: 1.83rem
    height: 1.4rem 

    span 
        display: block
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 0.2rem
        background-color: $blue

        &:before,
        &:after 
            content: ""
            position: absolute
            left: 0
            height: 0.2rem
            background-color: $blue

        &:before
            top: 0.6rem
            width: 1.2rem

        &:after 
            top: 1.2rem
            width: 0.6rem

.filters-close 
    position: absolute
    padding: 0
    top: 2.6rem
    left: 50%
    transform: translateX(-50%)
    width: 3.1rem
    height: 3.1rem
    font-size: 0
    background-color: $transparent
    border: none
    display: none

    &:hover 
        opacity: 0.8

    @media (max-width: $screenMob)
        display: block

    &:before,
    &:after 
        content: ""
        position: absolute
        top: -0.6rem
        left: 1.5rem
        width: 0.2rem
        height: 4.4rem
        background-color: #fff
        border-radius: 0.1rem
        transform: rotate(45deg)

    &:after 
        transform: rotate(-45deg)

.filters 
    margin-right: auto
    width: 20.83rem

    @media (max-width: $screenMob)
        position: fixed
        top: 0
        bottom: 0
        left: 0
        right: 0
        width: 32rem
        background-color: rgba(1, 17, 27, 0.9)
        z-index: -500
        opacity: 0
        transition: opacity 0.3s ease

        &.opened 
            z-index: 500 
            opacity: 1
            margin-top: 4rem

        &__inner 
            position: absolute
            top: 8rem
            left: 2rem
            right: 2rem
            width: 28rem
            background-color: #032d50

    &__title 
        margin: 1.7rem 0 6.3rem 0
        text-transform: uppercase
        font-family: $font-alt 
        font-weight: 500
        font-size: 4.6rem
        line-height: 5rem
        color: #fff

        .nominees_list &
            font-size: 3.6rem
            line-height: 4rem

        @media (max-width: $screenMob)
            margin: 0 
            padding-top: 1.8rem
            padding-bottom: 1.7rem
            text-align: center
            font-size: 2.6rem
            line-height: 3.8rem
            color: $blue
            border-bottom: 0.1rem solid #0b3b63

.filters-form 
    margin-left: -0.9rem

    @media (max-width: $screenMob)
        margin: 0
        width: 100%