.form 
    
    &__field-wrapper 
        position: relative
        margin-bottom: 4.6rem

        @media (max-width: $screenMob)
            margin-bottom: 0

    input[type="search"]
        box-sizing: border-box
        padding-right: 2.4rem

    &__field  
        display: block
        box-sizing: border-box
        padding: 0 1.2rem
        width: 100%
        font-size: 1.6rem
        line-height: 2.4rem
        color: #317eb1
        background-color: $transparent
        border: none
        border-bottom: 0.1rem solid #317db1

        @media (max-width: $screenMob)
            padding-top: 1.2rem
            padding-bottom: 1.1rem
            padding-left: 3rem
            padding-right: 3rem
            border-bottom: 0.1rem solid #0b3b63

        &:focus 
            outline: none

    .search-button 
        position: absolute
        top: 0
        right: 0
        padding: 0
        width: 2.4rem
        height: 2.4rem
        font-size: 0
        background-color: $transparent
        background-image: url("../images/icon-search.png")
        background-repeat: no-repeat 
        background-size: 1.6rem auto 
        background-position: top 0.2rem right
        border: none

        @media (max-width: $screenMob)
            display: none

        &:focus
            outline: none

    .selectric
        height: 2.3rem
        background-color: $transparent 
        border: none
        border-bottom: 0.1rem solid #317db1

        @media (max-width: $screenMob)
            padding-top: 1.2rem
            padding-bottom: 1.1rem
            height: auto
            border-bottom: 0.1rem solid #0b3b63

    .selectric .label
        margin-left: 1.2rem
        height: 2.4rem
        font-size: 1.6rem
        line-height: 2.4rem
        color: #317eb1

        @media (max-width: $screenMob)
            margin-left: 3rem

    .selectric .button
        width: 2.4rem
        height: 2.4rem
        background-color: $transparent 

        @media (max-width: $screenMob)
            top: 1.3rem
            right: 2.5rem

        &:after 
            border: none
            width: 1.3rem
            height: 0.7rem
            background-image: url("../images/icon-arr.png")
            background-repeat: no-repeat 
            background-size: contain
            transition: transform 0.3s ease

    .selectric-open 

        .button

            &:after
                transform: scale(1,-1)

    .selectric-items
        background-color: #0b3b63
        border: none
        box-shadow: 0 0.3rem 18rem #192b51

        @media (max-width: $screenMob)
            position: static
            background-color: $transparent
            box-shadow: none

    .selectric-items li
        padding: 1.3rem 3.7rem 1.1rem 0.9rem
        font-size: 1.6rem
        line-height: 2rem
        color: #317eb1

        @media (max-width: $screenMob)
            padding-left: 4.7rem
            color: #fff

    .selectric-items li.selected,
    .selectric-items li.highlighted,
    .selectric-items li:hover 
        background-color: #124370


    input::-webkit-input-placeholder 
      color: #317eb1

    input:-moz-placeholder 
      color: #317eb1

    input::-moz-placeholder 
      color: #317eb1

    input:-ms-input-placeholder 
      color: #317eb1

.form__field-wrapper:last-child

    .selectric 

        @media (max-width: $screenMob)
            border-bottom: none

    .selectric-open selectric 

        @media (max-width: $screenMob)
            border-bottom: 0.1rem solid #0b3b63
