.friends-list 
    position: relative
    margin-left: -1.2rem
    width: calc(100% + 1.2rem)
    height: 29.1rem
    overflow: auto

    @media (max-width: $screenMob)
        height: 34.4rem

    &:after 
        content: ""
        position: absolute
        bottom: 0
        left: 0
        right: 0
        height: 10rem
        background-image: linear-gradient(to top, rgba(3, 45, 80, 1), rgba(255, 255, 255, 0))
        pointer-events: none
        z-index: 1

    &__inner 
        display: flex
        flex-wrap: wrap
        padding-top: 1rem
        padding-left: 1.2rem

        @media (max-width: $screenMob)
            padding-top: 3.2rem

    .mCSB_scrollTools
        top: 18px

.friend-block 
    position: relative
    margin-bottom: 1.9rem
    width: 33%

    @media (max-width: $screenMob)
        width: 100%

    //&:nth-child(3n + 1)
    //    width: 34%
    //
    //    @media (max-width: $screenMob)
    //        width: 100%
    //
    //&:nth-child(3n + 2)
    //    width: 34.5%
    //
    //    @media (max-width: $screenMob)
    //        width: 100%
    //
    //&:nth-child(3n + 3)
    //    width: 30%
    //
    //    @media (max-width: $screenMob)
    //        width: 100%

    &__friend
        position: absolute
        width: 0
        height: 0
        opacity: 0

    &__friend-label
        position: relative
        display: flex 
        align-items: center
        cursor: pointer

        & * 
            position: relative
            z-index: 1

        &:before 
            content: ""
            position: absolute
            top: -1rem
            left: -1.2rem
            bottom: -1rem
            right: 2.2rem
            background-color: $transparent 
            transition: background-color 0.3s ease

        &:hover 

            &:before 
                background-color: #114674

            .friend-block__avatar
                border: 2px solid #fff

            .friend-block__name
                color: #fff

    input:checked + .friend-block__friend-label

        &:before 
            background-color: #114674

        .friend-block__avatar
            border: 2px solid #fff

        .friend-block__name
            color: #fff

    &__avatar 
        margin-right: 1.5rem
        width: 5.2rem
        height: 5.2rem
        min-width: 5.2rem
        border: 2px solid #5b7bab
        border-radius: 50%
        overflow: hidden
        transition: border 0.3s ease

        img 
            display: block
            width: 100%
            height: auto

    &__name 
        margin: 0
        font-size: 2rem
        line-height: 2.4rem
        color: #195d8b
        transition: color 0.3s ease

