.intro 
    position: relative
    overflow: hidden
    height: 75.5rem

    @media (max-width: $screenMob)
        height: 51rem

    &:after 
        content: "" 
        position: absolute
        bottom: -24rem
        left: 0
        right: 0
        height: 100%
        background-image: url("../images/bg-grad.png")
        background-repeat: no-repeat 
        background-size: 100% auto 
        background-position: top center
        pointer-events: none
        z-index: 1

        @media (max-width: $screenMob)
            background-image: url("../images/bg-grad-mob.png"), url("../images/bg-grad.png")

    &__title 
        position: absolute 
        top: 0
        left: 50%
        overflow: hidden
        transform: translateX(-50%)
        margin: 0
        width: 64.24rem
        height: auto
        z-index: 0
        pointer-events: none
        opacity: 0

        @media (max-width: $screenMob)
            width: 32rem
            margin-left: -0.6rem
            margin-top: 1rem
            opacity: 1

        img 
            display: block
            width: 100%
            height: auto

    &__subtitle 
        position: absolute 
        bottom: 24.7rem
        left: 50%
        transform: translate(-50%, -20px)
        opacity: 0
        overflow: hidden
        z-index: 2
        pointer-events: none

        &._3
            .intro__text--align-right
                margin-top: 0

            .intro__text--align-left
                margin-bottom: 0

            h2
                line-height: 5rem

        &._6
            @media (max-width: $screenMob)
                transform: translate(-50%, 0)
                opacity: 1

        h2
            text-transform: uppercase
            font-family: $font-alt
            font-weight: 500
            font-size: 5rem
            line-height: 6.5rem
            color: $blue
            margin: 0

            &._center
                text-align: center

        &--flex
            display: flex

            h2
                margin: 0.4rem 0 0
                font-size: 6.5rem

        @media (max-width: $screenMob)
            bottom: auto 
            top: 25rem
            box-sizing: border-box 
            margin: 0
            padding: 0 2rem
            width: 100%
            animation: none

            h2
                text-align: center
                font-size: 4rem
                line-height: 4.24rem

            span
                color: #fff

    &__text
        margin: 0.8rem 0 0.6rem
        text-align: center
        text-transform: uppercase
        font-family: $font-alt
        font-weight: 500
        font-size: 2.4rem
        line-height: 2.8rem
        z-index: 2
        pointer-events: none

        &--align-right
            text-align: right

        &--gut-right
            margin-right: 1rem

        &--gut-left
            margin-left: 1rem

        &--align-left
            text-align: left

        @media (max-width: $screenMob)
            box-sizing: border-box 
            margin: 0
            padding: 0 4rem 
            width: 100%
            text-align: center
            text-transform: lowercase
            font-family: $font 
            font-size: 1.6rem
            line-height: 1.8rem
            animation: none

    &__wrapper
        position: absolute
        text-align: center

    &__btn
        position: absolute
        bottom: 16.8rem
        left: 50%
        transform: translateX(-50%)
        width: 34rem
        font-size: 2.4rem
        height: 5.7rem !important
        line-height: 5.7rem
        padding-top: 0
        padding-bottom: 0
        letter-spacing: 0.5px
        z-index: 4
        opacity: 0

        @media (max-width: $screenMob)
            opacity: 1
            bottom: auto
            width: 28rem
            font-size: 2rem
            line-height: 3.7rem
            letter-spacing: 0
            animation: none
            height: auto !important
            padding: 0.3rem 1rem