.login-btn 
    display: flex 
    align-items: center

    &__icon 
        position: relative
        margin-right: 1.6rem
        margin-bottom: 0.6rem
        width: 4rem
        height: 4rem
        border: 0.2rem solid #fff
        border-radius: 50%
        overflow: hidden

        @media (max-width: $screenMob)
            margin: 0
            width: 2.5rem
            height: 2.5rem
            border-color: $blue

        svg 
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            display: block
            width: 1.9rem
            height: 2.5rem
            fill: #fff

            @media (max-width: $screenMob)
                width: 1.2rem
                height: 1.7rem
                fill: $blue

        img 
            display: block
            width: 100%
            height: auto

    span 
        position: relative
        display: block

    &:hover,
    &:focus,
    &:active 

        span 

            &:after 
                content: ""
                position: absolute
                bottom: 1rem
                left: 0
                right: 0
                border-bottom: 0.1rem solid $blue