.menu-trigger 
    position: absolute
    top: 3rem
    right: 6.2rem
    padding: 0
    width: 3.2rem
    height: 2.6rem
    font-size: 0
    background-color: $transparent
    border: none
    outline: none
    z-index: 3

    .main & 
        top: 4.3rem

        @media (max-width: $screenMob)
            top: 1.5rem

    @media (max-width: $screenMob) 
        right: auto 
        left: 2rem
        top: 1.5rem
        width: 2.6rem
        height: 2.2rem

    &.close 
        top: 4.3rem
        right: 8.2rem
        z-index: 1001
        transition: top 0.4s ease, right 0.4s ease

        @media (max-width: $screenMob)
            top: 1.6rem
            left: 2rem
            width: 2.5rem
            height: 2.5rem

        span 
            background-color: $transparent

            &:after 
                top: 1rem
                bottom: auto 
                transform: rotate(45deg)
                transform-origin: right top

                @media (max-width: $screenMob)
                    top: 0
                    left: -0.3rem
                    width: 3.2rem
                    transform-origin: center center

            &:before 
                top: 0.9rem
                left: 0.9rem
                transform: rotate(-45deg)
                transform-origin: left bottom

                @media (max-width: $screenMob)
                    top: 0
                    left: -0.3rem
                    width: 3.2rem
                    transform-origin: center center

        &:before
            top: 0.1rem
            left: 2.5rem
            transform: rotate(-45deg)

            @media (max-width: $screenMob)
                display: none

    &:before 
        content: ""
        position: absolute
        top: 0.1rem
        right: 0
        height: 0.3rem
        width: 0.6rem
        background-color: $blue
        border-radius: 0.1rem

        @media (max-width: $screenMob)
            height: 0.2rem
            width: 0.5rem

    span 
        position: absolute
        top: 50%
        left: 0
        margin-top: -0.1rem
        display: block
        width: 3.2rem
        height: 0.3rem
        background-color: #fff 
        border-radius: 0.1rem

        @media (max-width: $screenMob)
            width: 2.6rem
            height: 0.2rem

        &:before,
        &:after 
            content: ""
            position: absolute
            left: 0
            height: 0.3rem
            width: 3.2rem
            background-color: #fff
            border-radius: 0.1rem

            @media (max-width: $screenMob)
                width: 2.6rem
                height: 0.2rem

        &:before
            width: 2.2rem
            top: -1.1rem

            @media (max-width: $screenMob)
                width: 1.8rem
                top: -0.9rem

        &:after
            bottom: -1.1rem

            @media (max-width: $screenMob)
                bottom: -0.9rem