.menu-overlay 
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: rgba(14, 28, 54, 0.8)
    transform: translateX(-200%)
    transition: transform 0.4s ease

    @media (max-width: $screenMob)
        right: auto
        width: 32rem

    &.opened 
        transform: translateX(0)
        z-index: 1000

    //&:before,
    //&:after
    //    content: ''
    //    position: absolute
    //    height: 100%
    //    width: 100%
    //    right: 100%
    //    top: 0
    //    z-index: -1
    //    transition: transform 0.8s ease
    //
    //    @media (max-width: $screenMob)
    //        display: none
    //
    //&.opened:before,
    //&.opened:after
    //    transform: translate3d(200%, 0, 0)
    //
    //&.opened:after
    //    transition-delay: 0.2s
    //
    //&:before
    //    background-color: rgba(4, 39, 69, 0.8)
    //
    //&:after
    //    background-color: rgba(13, 29, 55, 0.8)

.menu 
    position: absolute
    top: 0
    right: 0
    bottom: 0
    transform: translateX(100%)
    display: flex 
    flex-direction: column
    width: 38.5rem
    background-color: #0a162c
    opacity: 0

    @media (max-width: $screenMob)
        left: 0
        bottom: auto 
        width: 32rem
        height: 100vh
        text-align: center

    .opened &
        transform: translateX(0)
        transition: transform 0.3s, opacity 0.4s ease
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1)
        transition-delay: 0.3s
        opacity: 1

        @media (max-width: $screenMob)
            transition: none

    &__contacts
        display: inline-block
        padding: 5rem 0
        margin-left: 8.8rem
        border: 1px solid #192742
        border-left: none
        border-right: none

        @media (max-width: $screenMob)
            display: block
            position: relative
            margin-left: 0
            border: none
            border-color: #114674
            padding: 1.6rem 0

        &:before
            @media (max-width: $screenMob)
                content: ""
                position: absolute
                top: 0
                left: 2rem
                right: 2rem
                height: 0.1rem
                background-color: #114674


    &__social
        margin-top: auto
        margin-right: auto
        margin-left: 8.7rem
        margin-bottom: 4rem
        justify-content: flex-start

        @media (max-width: $screenMob)
            position: relative
            margin-left: 0
            margin-right: 0
            margin-bottom: 0
            padding-bottom: 2.4rem
            padding-top: 1.4rem
            justify-content: space-between
            max-width: 32rem

            &:before 
                content: ""
                position: absolute
                top: 0
                left: 2rem
                right: 2rem
                height: 0.1rem
                background-color: #114674

            .social-btn
                padding: 0 2rem
                height: 2.8rem

                &--fb 

                    svg 
                        width: 1.3rem
                        height: 2.6rem

                &--vk 

                    svg 
                        width: 3.1rem
                        height: 1.8rem

                &--ok 

                    svg 
                        width: 1.6rem
                        height: 2.7rem

                &--tw 

                    svg 
                        width: 2.4rem
                        height: 2rem

                &--gp 

                    svg 
                        width: 2.9rem
                        height: 1.8rem

    .social-btn svg 
        fill: #fff

        @media (max-width: $screenMob)
            fill: #114674

.menu-list 
    margin: 0
    padding: 11.4rem 0 5.5rem 0
    list-style: none

    @media (max-width: $screenMob)
        padding-top: 4.6rem
        padding-bottom: 0.5rem

    li 
        position: relative
        margin-bottom: 2.4rem
        padding-left: 8.8rem
        text-transform: uppercase
        font-family: $font-alt 
        font-weight: 500
        font-size: 2rem
        line-height: 3.6rem

        @media (max-width: $screenMob)
            margin-bottom: 1.3rem
            padding-left: 2rem
            padding-right: 2rem
            line-height: 3.2rem

        &.current 

            &:before 
                content: ""
                position: absolute
                top: 0
                bottom: 0
                left: -1px
                width: 3px
                background-color: $blue

                @media (max-width: $screenMob)
                    display: none

            a 
                color: $blue
    a 
        color: #fff

.menu-scrollable .mCSB_scrollTools
    width: 0

.contacts
    &__phone
        font-size: 3.15rem
        font-weight: 500
        font-family: 'PF Din Text Comp Pro'

        @media (max-width: $screenMob)
            font-size: 1.7rem

    &__tip
        color: #304367
        font-size: 1.7rem
        margin-top: 0.5rem
        letter-spacing: 0.8px