.nominant 
    padding-bottom: 1px
    background-color: #032d50
    background-image: url("../images/bg-nominant.png"), linear-gradient(to right, #032d50 0%, #032d50 50%, #032847 50%, #032847 100%)
    background-repeat: no-repeat 
    background-size: 50% auto, 100% 100% 
    background-position: top right, top left

    @media (max-width: $screenMob)
        background-image: url("../images/bg-nominant-mob.png")
        background-size: 100% auto 
        background-position: bottom -21rem center

    .nominate 

        @media (max-width: $screenMob)
            padding: 0

        &__list

            li:last-child 

                svg 

                    @media (max-width: $screenMob)
                        max-width: 5rem

    &__title 
        margin: 0 0 4.4rem 0
        padding-top: 6rem
        padding-left: 2.6rem
        text-align: center
        font-size: 6rem
        line-height: 6rem
        letter-spacing: 0.01rem 

        @media (max-width: $screenMob)
            margin-bottom: 2.3rem
            padding: 2rem 0 0 0
            font-size: 4rem
            line-height: 4.2rem

            .desktop-only 
                display: none

        .white 
            color: #fff

            @media (max-width: $screenMob)
                display: block

    &__wrapper 
        display: flex 

        @media (max-width: $screenMob)
            flex-direction: column
            width: 32rem

    &__col 
        width: 50%
        min-width: 50%

        @media (max-width: $screenMob)
            width: 100%

    .nominate__list
        margin-top: 0
        padding-left: 0 

    .numbered

        &:after 
            content: ""
            position: absolute
            bottom: 0
            left: 0
            right: 0
            height: 0.2rem
            background-color: #114674

    .choose-form-footer
        padding-top: 0.6rem
        padding-bottom: 0
        background-color: $transparent 

        @media (max-width: $screenMob)
            margin-top: 2.7rem
            padding-left: 2rem
            padding-right: 2rem

            br 
                display: none

        &__inner 
            margin-left: 0
            margin-right: 0
            width: 46.3rem

            @media (max-width: $screenMob)
                width: 28rem

        &__btn 
            margin-top: 3rem

            @media (max-width: $screenMob)
                font-size: 2rem
                margin-top: 2.3rem

    .prizes-block
        margin-top: 6rem

        @media (max-width: $screenMob)
            margin-top: 5.1rem
            padding-bottom: 4rem

        &__item 
            margin: 0 0 9rem 9.8rem
            width: 100%

            @media (max-width: $screenMob)
                margin: 0 auto
                margin-bottom: 3.5rem

        &__winners 

            @media (max-width: $screenMob)
                margin-bottom: 1.2rem
