.nominees-slider
    margin-top: -8.1rem
    background-image: linear-gradient(to top, #032d50 0%, #032d50 7.6rem, #0b3b64 7.6rem, #0b3b64 8.1rem, $transparent 8.1rem, $transparent 100%)

    @media (max-width: $screenMob)
        margin-top: 0
        background-image: linear-gradient(to top, #032d50 0%, #032d50 3.6rem, #0b3b64 3.6rem, #0b3b64 4.1rem, $transparent 4.1rem, $transparent 100%)

    .nominees-swiper-container
        margin-left: 6rem
        padding-top: 8.2rem
        padding-bottom: 11.8rem

        @media (max-width: $screenMob)
            margin-left: 0
            padding: 0
            padding-bottom: 8rem

    .swiper-button-prev,
    .swiper-button-next 
        right: 19.6rem
        left: auto
        top: 0
        margin-top: 0
        width: 4.4rem
        height: 4.4rem
        background-color: #0b3b63
        background-image: none
        z-index: 1
        transition: background-color .3s ease-in-out

        &:hover
            background-color: #1a5e8b

        @media (max-width: $screenMob)
            left: 0
            top: 7.5rem
            background-color: $transparent !important

        &:after 
            content: ""
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%,-50%) rotate(-45deg)
            margin-left: 2px
            width: 1.3rem
            height: 1.3rem
            border-top: 0.3rem  solid #00adef
            border-left: 0.3rem  solid #00adef

            @media (max-width: $screenMob)
                margin-left: -0.3rem

    .swiper-button-next
        transform: scale(-1,1)
        right: 14.6rem

        @media (max-width: $screenMob)
            left: auto 
            right: 0

            &:after 
                margin-left: 0

    .swiper-pagination-fraction
        display: inline-block
        vertical-align: top
        padding: 0 1rem
        font-family: $font-alt 
        font-weight: 500
        font-size: 1.4rem
        line-height: 3.5rem
        color: $blue
        background-color: #032d50

        @media (max-width: $screenMob)
            padding: 0 0.5rem   
            font-size: 1.2rem

        &:before,
        &:after 
            content: ""
            position: absolute
            top: 1.9rem
            width: 12rem
            height: 0.5rem
            background-color: $blue

            @media (max-width: $screenMob)
                width: 4.6rem

        &:before 
            right: 100%

        &:after
            left: 100%

        .swiper-pagination-current,
        .swiper-pagination-total 
            font-size: 3rem

            @media (max-width: $screenMob)
                font-size: 2rem

    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal>.swiper-pagination-bullets
        width: auto
        left: 50%
        bottom: 5.9rem
        margin-left: -34.8rem

        @media (max-width: $screenMob)
            margin-left: 0
            bottom: 2.3rem
            left: 6rem

.nominee-slide 
    width: 26.4rem
    margin: 0 2.2rem

    @media (max-width: $screenMob)
        width: 22.9rem
        height: 19.2rem
        margin-left: 0.5rem
        margin-right: 0.5rem