.nominate
    position: relative
    padding-bottom: 7rem
    padding-top: 1.5rem
    background-color: #032d50
    background-image: url("../images/bg-grad.png")
    background-repeat: no-repeat
    background-size: 100% auto 
    background-position: top -55rem center

    @media (max-width: $screenMob)
        padding-bottom: 4rem
        padding-top: 3.4rem
        background-color: #020204
        background-image: url("../images/bg-grad-mob.png")
        background-position: top -29rem center
    
    &__wrapper 
        display: flex

        @media (max-width: $screenMob)
            flex-wrap: wrap

    &__col 
        display: flex
        flex-direction: column
        width: 50%

        @media (max-width: $screenMob)
            width: 100%

    &__title
        margin: 0
        margin-top: -0.5rem
        padding-left: 15rem
        padding-right: 5rem
        text-transform: uppercase
        font-family: $font-alt 
        font-weight: 500
        font-size: 4.6rem
        line-height: 6.2rem
        color: #fff 

        @media (max-width: $screenMob)
            padding-left: 5rem
            padding-right: 5rem
            text-align: center
            font-size: 2rem
            line-height: 2.4rem

        .blue 
            color: $blue

    &__list 
        margin: 2rem 0 0 0
        padding: 0
        padding-left: 15rem
        list-style: none 
        counter-reset: li

        @media (max-width: $screenMob)
            margin-top: 2.4rem
            padding-left: 0

        li 
            position: relative
            display: flex
            margin-bottom: 4rem
            height: 14.9rem
            width: 46rem
            background-color: $transparent
            overflow: hidden

            @media (max-width: $screenMob)
                margin-bottom: 1.5rem
                width: 100%
                height: auto
                min-height: 8.3rem
                background-color: #0b3b64

                &:last-child 
                    margin-bottom: 0

            &:hover 

                @media (max-width: $screenMob)
                    background-color: #114674

                &:before 
                    color: #0b3b63

            &:before 
                content: counter(li)
                counter-increment: li
                position: absolute
                bottom: 0 
                right: 2.6rem
                font-family: 'QueenofClubs'
                font-size: 18rem
                line-height: 9.6rem
                color: #114673
                z-index: 0
                opacity: 0
                transition: color 0.3s ease, opacity 0.3s ease

                @media (max-width: $screenMob)
                    bottom: auto 
                    top: 50%
                    right: 1.6rem
                    margin-top: -5.3rem
                    font-size: 15rem
                    line-height: 15rem
                    opacity: 1

            &.numbered 

                &:before 
                    opacity: 1

    &__icon
        position: relative
        width: 13.1rem
        min-width: 13.1rem
        height: 14.9rem

        @media (max-width: $screenMob)
            width: 7.6rem
            min-width: 7.6rem   
            height: auto
            z-index: 1

        img 
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            display: block
            max-height: 10rem
            width: auto

            @media (max-width: $screenMob)
                max-height: 6.7rem
                max-width: 5.7rem
                height: auto

        svg 
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            display: block
            max-height: 10rem
            min-height: 6.1rem
            width: auto

            @media (max-width: $screenMob)
                max-height: 5rem
                min-height: 2.8rem

    &__instruction
        position: relative
        display: flex 
        flex-direction: column 
        justify-content: center
        padding: 2rem 0
        z-index: 1

        @media (max-width: $screenMob)
            padding-bottom: 1.5rem

        #rev1 &
            padding-right: 19rem

        #rev3 &
            padding-right: 15rem

    &__slogan
        margin: 0
        text-transform: uppercase
        font-family: $font-alt 
        font-weight: 500
        font-size: 3rem
        line-height: 3.5rem
        color: $blue

        @media (max-width: $screenMob)
            font-size: 2rem
            line-height: 2.4rem

    &__text
        margin: 0 
        font-size: 1.6rem
        line-height: 2.4rem

        @media (max-width: $screenMob)
            margin-top: 0.7rem
            line-height: 1.8rem

    &__link
        display: inline-block
        color: #fff
        border-bottom: 3px dotted #fff

    &__solid-link
        display: inline-block
        color: #fff
        border-bottom: 3px solid #fff

    &__btn
        position: absolute
        bottom: 5.3rem
        left: 50%
        transform: translateX(-50%)
        width: 34rem
        font-size: 2.4rem

        @media (max-width: $screenMob)
            position: relative 
            bottom: auto
            left: 0
            transform: translateX(0)
            display: block
            margin-top: 3.6rem  
            margin-left: auto
            margin-right: auto
            width: 28rem
            font-size: 2rem

.block-revealer

    &:hover
        .block-revealer__content.nominate-item
            background-color: #114573

    &__content.nominate-item 
        display: flex
        width: 100%
        background-color: #0b3b63
        transition: background-color 0.3s ease
        box-shadow: 0 2.1rem 4.6rem rgba(0,0,0,.1)