.nominees_list 

    @media (max-width: $screenMob)
        padding-bottom: 4rem

.nominees-list
    padding-top: 2.4rem
    width: 87.8rem

    @media (max-width: $screenMob)
        width: 28rem

    &__wrapper
        display: flex
        flex-wrap: wrap

    &__link     
        display: block
        margin: 0 auto 
        margin-bottom: 5rem
        width: 26.4rem

        @media (max-width: $screenMob)
            margin-top: 0.3rem
            margin-bottom: 0.3rem
            width: 28rem

    .nominee-card 

        @media (max-width: $screenMob)
            margin-right: 2rem
            margin-bottom: 2rem
            width: 12.9rem
            height: 10.9rem

            &:nth-child(3n + 3)
                margin-right: 0

            &:nth-child(odd)
                margin-right: 2rem

            &:nth-child(even)
                margin-right: 0

            &__inner 
                padding-top: 1.5rem
                padding-left: 0.5rem
                padding-right: 0.5rem
                height: 10.9rem

            &__image 
                width: 6.2rem
                height: 6.2rem
                border-width: 0.2rem
                box-shadow: 0 0 0 1.4rem #114674

            &__name 
                font-size: 1.589rem
                line-height: 1.722rem
                max-width: 11.9rem 
                overflow: hidden 
                text-overflow: ellipsis

            .icon-block 
                width: 2.5rem
                height: 2.5rem

                .icon svg 
                    max-width: 3rem
                    max-height: 1.5rem  

            .voices 
                width: 3rem
                height: 2.5rem

                .number 
                    font-size: 1.8rem
                    line-height: 1.8rem

                &__descr
                    left: auto 
                    right: 0

            .hover-block 

                .text 
                    margin-top: auto
                    font-size: 1.1rem
                    line-height: 2.2rem

                .icon 
                    height: 4.5rem

                img 
                    width: 3.8rem
                    height: auto

                svg 
                    width: 5.3rem

    .nominate-btn__icon 

        @media (max-width: $screenMob)
            margin-top: -1.9rem
            width: 9rem
            height: 9rem

            svg 
                margin-top: -1rem
                width: 5.3rem
                height: 5.4rem

    .nominate-btn__text 

        @media (max-width: $screenMob)
            margin-top: -2.5rem
            font-size: 1.589rem
            line-height: 1.722rem

.nominee-card 
    position: relative
    box-sizing: border-box
    margin-right: 4.3rem
    margin-bottom: 4.7rem
    width: 26.4rem
    height: 22.1rem
    background-color: #0b3b63
    border: none
    box-shadow: 0 2.1rem 4.6rem rgba(0,0,0,.1)
    transition: box-shadow 0.3s ease
    cursor: pointer

    @media (max-width: $screenMob)
        width: 22.9rem
        height: 19.2rem

    &__inner
        box-sizing: border-box 
        padding-top: 3.2rem
        padding-left: 2rem
        padding-right: 2rem
        height: 22.1rem
        overflow: hidden
        transition: background-color 0.3s ease

        @media (max-width: $screenMob)
            padding-left: 1rem
            padding-right: 1rem
            padding-top: 3rem
            height: 19.2rem

        &:hover
            box-shadow: 0 21px 46px rgba(0,0,0,.1)

            .nominee-card__image
                box-shadow: 0 0 0 11rem #114674

    &:nth-child(3n + 3) 
        margin-right: 0

    &__image
        display: block
        margin: 0 auto 8px auto
        width: 12.6rem
        height: 12.6rem
        border: 0.5rem  solid $blue 
        border-radius: 50%
        box-shadow: 0 0 0 2.9rem #114674
        overflow: hidden
        transition: box-shadow .3s ease-in-out

        @media (max-width: $screenMob)
            width: 10.5rem
            height: 10.5rem

        &:hover ~ .hover-block
            opacity: 1
            z-index: 1

        img 
            display: block
            width: auto
            height: 100%
            border-radius: 50%
            overflow: hidden 

    &__name
        display: block
        text-align: center
        text-transform: uppercase
        font-family: $font-alt 
        font-weight: 500
        font-size: 2.5rem
        line-height: 3.5rem
        color: $blue

        @media (max-width: $screenMob)
            white-space: nowrap

    .icon-block
        position: absolute
        top: 0
        left: 0
        width: 6.2rem
        height: 6.5rem
        cursor: pointer

        @media (max-width: $screenMob)
            width: 5rem
            height: 5rem

        &:hover
            ~
                .nominee-card__inner
                    box-shadow: 0 21px 46px rgba(0,0,0,.1)

                    .nominee-card__image
                        box-shadow: 0 0 0 11rem #114674

            .icon__descr 
                opacity: 1
                z-index: 1

        .icon 
            position: absolute
            display: block
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)

            svg, img
                display: block
                width: auto
                height: auto
                max-width: 5rem
                max-height: 5rem
                fill: #f54797
                filter: drop-shadow(0 0 0.5rem rgba(245,72,152,1))

                @media (max-width: $screenMob)
                    max-width: 3rem 
                    max-height: 3rem    

            &__descr 
                position: absolute
                top: -2rem
                left: 1.8rem
                display: block
                font-family: $font-alt 
                font-weight: 500
                font-size: 1.4rem
                line-height: 1.5rem
                text-transform: uppercase
                color: #f54797
                opacity: 0
                z-index: -100
                transition: opacity 0.3s ease

                @media (max-width: $screenMob)
                    display: none

    .voices
        position: absolute
        top: 0
        right: 0
        width: 6.2rem
        height: 5.3rem
        text-transform: uppercase
        text-align: center
        font-family: $font-alt
        font-weight: 500
        color: #195d8b
        cursor: pointer

        @media (max-width: $screenMob)
            font-weight: 400
            width: 5rem 
            height: 5rem

        &:hover
            ~
                .nominee-card__inner
                    box-shadow: 0 21px 46px rgba(0,0,0,.1)

                    .nominee-card__image
                        box-shadow: 0 0 0 11rem #114674

            .voices__descr 
                opacity: 1
                z-index: 1

        .number 
            display: block
            padding-top: 0.6rem
            font-size: 3rem
            line-height: 4.1rem

            @media (max-width: $screenMob)
                font-size: 3.2rem
                line-height: 3.2rem

        &__descr
            position: absolute
            top: -2.1rem
            left: 2rem
            display: block
            text-align: left
            font-size: 1.4rem
            line-height: 1.5rem
            opacity: 0
            z-index: -100   
            transition: opacity 0.3s ease

            @media (max-width: $screenMob)
                display: none

    .hover-block
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        display: flex 
        opacity: 0
        z-index: -100   
        transition: opacity 0.3s ease

        @media (max-width: $screenMob)
            display: none

        &:hover
            opacity: 1
            z-index: 1

        &__action
            display: flex 
            flex-direction: column 
            justify-content: center
            width: 50%
            height: 100%
            text-align: center

            &:hover

                img,
                svg 
                    opacity: 0.8

            &:first-child
                background-color: rgba(245, 72, 152, 0.92)

            &:last-child
                background-color: rgba(0, 174, 239, 0.92)

            img 
                display: block
                margin: 0 auto 
                width: 4.8rem
                height: 4.3rem
                transition: opacity 0.3s ease

            svg 
                display: block
                margin: 0 auto 
                width: 6.5rem
                height: 3.7rem
                fill: #fff
                transition: opacity 0.3s ease

        .icon 
            margin-top: 2rem

        .text 
            margin: 3.4rem 0 0 0
            text-transform: uppercase
            font-family: $font-alt 
            font-weight: 500
            font-size: 1.762rem
            line-height: 2rem
            color: #fff


.nominate-btn
    padding-top: 2.1rem
    height: 22.1rem

    &__icon
        display: flex 
        flex-direction: column 
        justify-content: center
        margin: 0 auto
        width: 13rem
        height: 13rem
        border: 0.2rem dotted #11547f
        border-radius: 50%

        svg 
            display: block
            margin: 0 auto
            width: 7.5rem
            height: 6.7rem
            fill: $blue
    
    &__text
        display: block
        margin: 0 auto
        margin-top: -1.7rem
        max-width: 16rem 
        font-family: $font-alt
        text-transform: uppercase
        font-weight: 500
        font-size: 2.5rem
        line-height: 3rem
        color: $blue
        background-color: #0b3b63
        transition: background-color 0.3s ease
