.page-content
    padding-top: 2.6rem
    background-color: #032d50

    @media (max-width: $screenMob)
        padding-top: 2rem

    &.faq-page 
        padding-bottom: 9.4rem

        @media (max-width: $screenMob)
            padding-bottom: 0