.places-block
    display: flex 
    margin-top: 5rem

    @media (max-width: $screenMob)
        flex-direction: column
        align-items: center 
        margin-top: 0

.place 
    display: flex 
    justify-content: center 
    align-items: center 
    margin-right: 3rem
    width: 22.5rem
    height: 18.9rem
    background-color: #fff 
    box-shadow: 0 2.1rem 4.6rem rgba(0,0,0,.1)

    @media (max-width: $screenMob)
        height: 16.1rem
        margin-right: 0
        margin-bottom: 1.5rem

    &:nth-child(3n + 3) 
        margin-right: 0

    img 
        display: block
        max-width: 17.7rem 
        height: auto