.preloader
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100vh
    background: url("../images/preloader-bg.jpg") center no-repeat
    background-size: 100% 100%
    z-index: 9999
    display: none

    @media (max-width: $screenMob)
        background-size: auto 100%

.preloader__inner
    width: 200px
    height: 200px
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: auto
    opacity: 0
    transition: opacity .3s ease-in-out
    &.in
        opacity: 1

#preloader-img
    transform: rotateY(180deg) rotateZ(-90deg)
    circle
        stroke-dashoffset: 565px
        transition: stroke-dashoffset 1.5s cubic-bezier(0.895, 0.03, 0.685, 0.22)
        stroke: #00aeef
        stroke-width: 48px
        stroke-linecap: round

.preloader__logo
    position: absolute
    display: block
    height: 99px
    width: 190px
    left: 53px
    top: 50%
    margin-top: -53px
    line-height: 160px
    background: url("../images/logo.png") center no-repeat
    background-size: contain
    opacity: 0
    transition: opacity 1s ease-in-out .5s

.preloader__inner.in .preloader__logo
    opacity: 1