.prizes-page
    background-image: url("../images/bg-prizes.png")
    background-repeat: no-repeat 
    background-size: 100% auto 
    background-position: top -17.5rem center

    @media (max-width: $screenMob)
        background-image: url("../images/bg-prizes-mob.png")
        background-position: top -8.6rem center

    .page-content
        background-color: $transparent

    .actions-block 

        @media (max-width: $screenMob)
            display: none

.prizes 

    @media (max-width: $screenMob)
        width: 32rem
        padding-left: 0
        padding-right: 0
    
    &__title 
        margin-bottom: 3.9rem
        font-size: 4rem
        line-height: 5rem
        color: #fff

        @media (max-width: $screenMob)
            margin-bottom: 2.9rem
            font-size: 4rem
            line-height: 4.2rem

    .social-block   
        margin-top: 1rem
        margin-left: auto
        margin-right: auto
        padding-bottom: 4.3rem

        @media (max-width: $screenMob)
            margin-top: 0.5rem
            padding-bottom: 4rem
            justify-content: center

.prizes-block
    display: flex 
    flex-wrap: wrap 
    justify-content: center

    @media (max-width: $screenMob)
        flex-direction: column 
        align-items: center

    &__text 
        margin: 0
        font-size: 1.6rem
        line-height: 2rem
        letter-spacing: 0.07rem

    &__descr 
        margin: 0
        font-size: 1.6rem
        line-height: 2rem
        letter-spacing: 0.07rem

    &__item 
        position: relative
        text-align: center
        margin-left: 10rem
        margin-right: 8rem

        @media (max-width: $screenMob)
            margin-left: 0
            margin-right: 0

        img     
            display: inline-block
            vertical-align: top

        &:hover 

            .prizes-block__tooltip
                opacity: 1
                z-index: 1

    &__tooltip 
        position: absolute
        top: 11rem
        left: 50%
        transform: translateX(-50%)
        display: flex
        flex-direction: column 
        justify-content: center
        box-sizing: border-box
        margin-left: 0.7rem
        padding: 2rem 3.5rem
        width: 27.8rem
        min-height: 13.8rem
        text-align: center
        background-color: #031f35
        box-shadow: 0 4.4rem 5.7rem rgba(3,29,50,.83)
        opacity: 0
        z-index: -10
        transition: opacity 0.3s ease

        @media (max-width: $screenMob)
            position: static
            margin: 0 auto
            margin-top: -0.6rem
            padding: 0 3rem
            width: 28rem
            min-height: 1rem
            background-color: $transparent 
            box-shadow: none
            transform: none
            opacity: 1
            z-index: initial

            br 
                display: none

            p 
                margin: 0

    &__total 
        position: relative
        margin-bottom: 5.3rem
        width: 100%

        @media (max-width: $screenMob)
            margin-bottom: 4.1rem

        img 
            margin-bottom: -0.5rem
            width: 22.7rem
            height: 15.2rem

        &:before,
        &:after 
            content: ""
            position: absolute
            top: 17rem
            left: 50%
            margin-left: -23rem
            width: 9.5rem
            height: 10.2rem
            background-image: url("../images/arr-left.png")
            background-repeat: no-repeat
            background-size: contain 
            background-position: center 

            @media (max-width: $screenMob)
                display: none

        &:after 
            margin-left: 13rem
            background-image: url("../images/arr-right.png")

    &__finalists
        margin: 0
        margin-left: 2rem
        margin-right: 12rem
        width: 31.2rem
        cursor: pointer

        @media (max-width: $screenMob)
            margin: 0
            margin-bottom: 4rem
            width: 100%

        .prizes-block__icon 
            margin-bottom: -0.5rem
            width: 28rem
            height: 17.5rem

        .prizes-block__sum
            margin-top: -2.5rem
            margin-left: 2.7rem
            width: 28.5rem
            height: 9.2rem

    &__winners
        margin: 0
        margin-left: 14rem
        cursor: pointer

        @media (max-width: $screenMob)
            margin: 0

        .prizes-block__icon 
            margin-bottom: -1rem
            width: 27.8rem
            height: 18.2rem

        .prizes-block__sum
            margin-top: -2.7rem
            margin-left: 1.4rem
            width: 30.3rem
            height: 9.2rem