.product-slider-wrapper 

    @media (max-width: $screenMob)
        margin-top: 2.2rem
        overflow: hidden

.product-slider 
    position: relative
    margin-top: -8.5rem
    padding-top: 8.5rem

    @media (max-width: $screenMob)
        margin: 0 auto
        padding-top: 0
        width: 23.8rem
        overflow: visible

    .hidden-pagination 
        opacity: 0
        z-index: -100

    .swiper-button-prev,
    .swiper-button-next 
        right: auto
        left: 44.3rem
        top: 0
        margin-top: 0
        width: 4.4rem
        height: 4.4rem
        background-color: #0b3b63
        background-image: none
        transition: background-color .3s ease-in-out

        &:hover
            background-color: #1a5e8b

        @media (max-width: $screenMob)
            left: -4.1rem
            height: 21.4rem
            width: 3.6rem
            background-color: $transparent !important

        &:after 
            content: ""
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%,-50%) rotate(-45deg)
            margin-left: 2px
            width: 1.3rem
            height: 1.3rem
            border-top: 0.3rem  solid #00adef
            border-left: 0.3rem  solid #00adef

            @media (max-width: $screenMob)
                margin-top: -1rem

    .swiper-button-next
        transform: scale(-1,1)

    .swiper-button-next 
        left: 49.1rem

        @media (max-width: $screenMob)
            left: auto 
            right: -4.1rem

.product-slide

    @media (max-width: $screenMob)
        margin-left: 0.6rem
        margin-right: 0.6rem
        padding-top: 0
        width: 22.9rem
        opacity: 0.5
        transition: opacity 0.3s ease
        overflow: hidden

        &.swiper-slide-active
            opacity: 1

    &__wrapper 
        display: flex
        margin: 0 auto 
        width: 112.6rem

        @media (max-width: $screenMob)
            flex-direction: column
            width: 100%

    &__col 
        box-sizing: border-box
        width: 50%

        @media (max-width: $screenMob)
            width: 100%

        &:first-child 
            padding-top: 2rem

            @media (max-width: $screenMob)
                display: flex 
                flex-direction: column 
                justify-content: flex-end
                align-items: center
                padding-bottom: 1.4rem
                padding-left: 2rem
                padding-right: 2rem
                height: 21.4rem
                background-color: #03456f
                box-shadow: 0 2.1rem 4.6rem rgba(0,0,0,.1)

        &:nth-child(2) 

            @media (max-width: $screenMob)
                opacity: 0

                .swiper-slide-active & 
                    opacity: 1

    &__label
        margin: 0
        font-weight: 400
        font-size: 1.6rem
        line-height: 2rem
        color: $blue

        @media (max-width: $screenMob)
            line-height: 1.5rem
            letter-spacing: 0.09rem 
            opacity: 0

            .swiper-slide-active & 
                opacity: 1

    &__title 
        margin: 0
        text-transform: uppercase
        font-family: $font-alt 
        font-weight: 500
        font-size: 4.6rem
        line-height: 5rem
        color: $blue 

        @media (max-width: $screenMob)
            font-size: 2.5rem
            line-height: 3rem
            opacity: 0

            .swiper-slide-active & 
                opacity: 1

    &__image-block 
        margin-top: -4.7rem 
        padding-bottom: 6rem
        padding-left: 7.4rem
        background-image: url("../images/product-shadow.png")
        background-repeat: no-repeat 
        background-size: 48.4rem auto 
        background-position: top 7.4rem left 4.7rem 

        @media (max-width: $screenMob)
            position: absolute
            top: 5.3rem
            padding-left: 4.6rem
            width: 100%
            height: 11.5rem
            background-image: none

        img 
            display: block
            width: 47.5rem
            height: 24.6rem

            @media (max-width: $screenMob)
                width: auto
                height: 11.5rem

    &__info-block 
        margin-left: 26rem
        padding-bottom: 8.3rem

        @media (max-width: $screenMob)
            margin-left: 0
            margin-top: 6.4rem
            padding-bottom: 3rem

    &__info     
        position: relative
        margin-top: -4.6rem
        margin-bottom: 1.4rem
        letter-spacing: 0.1rem

        &:before 
            content: ""
            position: absolute
            left: 0
            top: 0.3rem
            bottom: 0.7rem
            width: 0.3rem
            background-color: $blue

        p 
            margin: 0
            padding-left: 1.7rem

    &__info-label 
        font-size: 1.6rem
        line-height: 2.3rem
        color: $blue

        @media (max-width: $screenMob)
            line-height: 2.2rem

    &__info-value 
        font-size: 1.6rem
        line-height: 2.3rem
        color: #fff

        @media (max-width: $screenMob)
            line-height: 2.2rem

    &__btn 
        width: 100%

.product-features
    margin: 0
    margin-top: 3.9rem
    padding: 0
    list-style: none 

    @media (max-width: $screenMob)
        display: none

    li 
        position: relative
        margin-bottom: 1.9rem
        padding-left: 1.7rem
        font-size: 1.6rem
        line-height: 2.1rem
        letter-spacing: 0.08rem
        max-width: 46.5rem

        &:before 
            content: ""
            position: absolute
            top: 0.6rem
            left: 0.1rem
            width: 0.4rem
            height: 0.4rem
            background-color: $blue 
            border-radius: 50%

.product-descr 
    display: none

    p 
        margin: 0 0 2rem 0 
        font-size: 1.6rem
        line-height: 2rem
        letter-spacing: 0.085rem    

    @media (max-width: $screenMob)
        display: block