.product-pagination-wrapper 
    //background-image: linear-gradient(to top, $transparent 0%, $transparent 4.75rem, #0b3b64 4.75rem, #0b3b64 5.3rem, $transparent 5.3rem, $transparent 100%)
    width: 100%
    overflow: hidden

    @media (max-width: $screenMob) 
        position: absolute
        opacity: 0
        z-index: -100
        width: 0

    .swiper-scrollbar-drag
        background-color: #27bdef
        border-radius: 0

    .swiper-scrollbar
        background-color: #0b3b64
        bottom: 4rem

        @media (max-width: $screenMob)
            display: none

        .swiper-pagination
            bottom: -1.4rem

.product-pagination 
    margin: 0 auto 
    padding-bottom: 11.7rem
    width: calc(100% + 3rem)
    margin-left: -2rem
    overflow: visible

    .swiper-pagination-fraction
        display: inline-block
        vertical-align: top
        padding: 0 1rem
        font-family: $font-alt 
        font-weight: 500
        font-size: 1.4rem
        line-height: 3.5rem
        color: $blue
        background-color: #032d50

        //&:before,
        //&:after
            content: ""
            position: absolute
            top: 1.9rem
            width: 12rem
            height: 0.5rem
            background-color: $blue

        &:before 
            right: 100%

        &:after
            left: 100%

        .swiper-pagination-current,
        .swiper-pagination-total 
            font-size: 3rem

    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal>.swiper-pagination-bullets
        width: auto
        left: 50%
        bottom: 3.1rem
        margin-left: -44.1rem

.pagination-slide
    box-sizing: border-box
    display: flex 
    flex-direction: column
    margin-right: 5.6rem
    padding-bottom: 1.3rem
    width: 26.4rem
    height: 22.1rem
    background-color: #03456f
    box-shadow: 0 2.1rem 4.6rem rgba(0,0,0,.1)
    opacity: 0.5
    cursor: pointer
    transition: opacity 0.3s ease

    &.pagination-slide-active
        opacity: 1

    &__image-block 
        margin-left: 5.9rem
        margin-top: 1.3rem
        overflow: hidden

    &__title 
        display: flex 
        flex-direction: column 
        justify-content: center
        margin: auto 0 0 0
        padding-left: 1rem
        padding-right: 1rem
        min-height: 5.8rem
        font-family: $font-alt 
        text-transform: uppercase
        font-weight: 500
        font-size: 2.5rem
        line-height: 3rem
        color: $blue
        align-self: center 