.profile-block
    display: flex 
    justify-content: flex-end
    align-items: center
    padding-top: 2.6rem
    padding-bottom: 5.2rem

    .nominees_list & 

        @media (max-width: $screenMob)
            display: none

    @media (max-width: $screenMob)
        position: relative

    .tab & 
        padding-top: 1.1rem

        @media (max-width: $screenMob)
            padding-top: 0

    &__name
        width: 38.7rem
        min-width: 38.7rem

        @media (max-width: $screenMob)
            position: absolute
            top: 20.5rem
            left: 2rem
            width: 28rem
            min-width: 28rem
            height: auto
            text-align: center
            z-index: 1

        p 
            margin: 0
            text-transform: uppercase
            font-family: $font-alt 
            font-weight: 500
            font-size: 3.6rem
            line-height: 5rem
            color: $blue

            @media (max-width: $screenMob)
                font-size: 2.6rem
                line-height: 3rem

    &__wrapper
        width: 128.2rem

        @media (max-width: $screenMob)
            width: 32rem

        .tab & 
            width: 88.8rem

            @media (max-width: $screenMob)
                width: 32rem

    &__inner 
        background-image: linear-gradient(to right, $transparent 0%, $transparent 50%, #0b3b64 50%, #0b3b64 100%)

        @media (max-width: $screenMob)
            background-image: none