.profile-big
    display: flex
    margin-left: -2.2rem
    width: 112.8rem
    height: 34.1rem
    text-align: left
    background-color: #0b3b64
    border-radius: 17.2rem 0 0 17.2rem

    @media (max-width: $screenMob)
        display: block
        margin: 0
        padding-top: 5.5rem
        padding-bottom: 1.7rem
        width: 28rem
        height: auto
        min-height: 21.2rem
        background-color: $transparent
        background-color: #0b3b64
        border-radius: 0

    .modal & 
        width: 100%
        justify-content: flex-end
        background-color: $transparent

    &__upload
        position: absolute
        bottom: 2rem
        left: 50%
        transform: translateX(-50%)
        text-transform: uppercase
        text-align: center
        font-family: $font-alt 
        font-weight: 500
        font-size: 2.4rem
        line-height: 3.2rem
        color: $blue

        @media (max-width: $screenMob)
            top: 4.5rem
            width: 4.6rem
            height: 4.6rem  
            font-size: 0


    &__upload-field 
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        opacity: 0
        cursor: pointer
        z-index: 1

        &:hover + .profile-big__upload-link
            opacity: 0.7

    &__upload-link 
        border-bottom: 0.2rem dotted $blue
        cursor: pointer
        transition: opacity 0.3s ease

        @media (max-width: $screenMob)
            width: 4.6rem
            height: 4.6rem
            background-color: #00aeef
            border: none
            border-radius: 50%

            &:before 
                content: ""
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                width: 24px
                height: 19px
                background-image: url("../images/svg/cam.svg")

    &__col 
        position: relative
        margin-bottom: auto

        @media (max-width: $screenMob)
            position: static

        &:nth-child(2)
            width: 33rem
            padding-left: 1.8rem

            @media (max-width: $screenMob)
                padding-left: 0
                width: 100%

            .modal & 
                width: 31rem

                @media (max-width: $screenMob)
                    width: 100%

        &:nth-child(3)
            margin-left: auto

    &__avatar 
        position: relative
        padding: 6.2rem
        width: 21.5rem
        height: 21.5rem
        background-color: #114573
        border-radius: 50%
        box-shadow: inset 0 0 0 3.2rem #0b3d6a

        @media (max-width: $screenMob)
            margin: 0 auto
            padding: 2.5rem
            width: 11.8rem
            height: 11.8rem
            box-shadow: inset 0 0 0 3.2rem #114674

    &__avatar-wrapper 
        width: 20.7rem
        height: 20.7rem
        border: 0.4rem solid $blue 
        border-radius: 50%
        overflow: hidden

        @media (max-width: $screenMob)
            width: 11rem
            height: 11rem

        img 
            display: block
            width: 100%
            height: 100%

    &__name 
        position: absolute
        bottom: 2rem
        left: 50%
        transform: translateX(-50%)
        max-width: 100%
        text-transform: uppercase
        text-align: center
        font-family: $font-alt 
        font-weight: 500
        font-size: 2.4rem
        line-height: 3.2rem
        color: $blue

        .modal & 

            @media (max-width: $screenMob)
                position: relative
                bottom: 0 
                left: 0
                transform: none
                margin-bottom: -0.7rem
                margin-top: -1.6rem

    &__talent
        position: relative
        margin-top: 6rem
        max-width: 20rem

        @media (max-width: $screenMob)
            position: absolute
            top: 1.6rem
            left: 3.6rem    
            margin-top: 0
            max-width: 10rem

            .modal & 
                left: 2rem

        span 
            display: block
            text-transform: uppercase
            font-family: $font-alt 
            font-weight: 500
            font-size: 2.5rem
            line-height: 3rem
            color: #f54898
            text-shadow: 0 0 0.9rem rgba(245,72,152,.75)

            @media (max-width: $screenMob)
                font-size: 2rem
                line-height: 2.4rem

    &__icon 
        position: absolute
        top: 50%
        left: -1rem
        transform: translate(-100%, -50%)
        display: block
        width: auto
        height: auto
        max-width: 6rem 
        max-height: 6rem
        fill: #f54898
        filter: drop-shadow(0 0 0.6rem rgba(245,72,152,0.55))

        @media (max-width: $screenMob)
            left: 20.5rem
            top: 0
            transform: none
            max-width: 4.3rem 
            max-height: 4.3rem

    &__votes
        display: flex
        align-items: center
        margin-top: 4.3rem
        margin-bottom: 4.8rem

        @media (max-width: $screenMob)
            flex-direction: column 
            align-items: center
            margin-top: 3.1rem
            margin-bottom: 1.8rem

        span 
            display: block

        .qty 
            text-transform: uppercase
            font-family: $font-alt
            font-weight: 500
            font-size: 8rem
            line-height: 3.6rem
            color: $blue

            @media (max-width: $screenMob)
                font-size: 6rem
                line-height: 3.6rem
                color: #fff

        .legend 
            padding-left: 2rem
            font-size: 1.6rem
            line-height: 1.8rem
            color: $blue

            @media (max-width: $screenMob)
                padding-left: 0
                padding-top: 0.6rem
                font-size: 1.6rem
                line-height: 2rem
                color: #fff
                letter-spacing: 0.085rem

                br 
                    display: none

    &__btn 
        width: 100%
        font-size: 2.4rem
        letter-spacing: 0.05rem 

        @media (max-width: $screenMob)
            display: block
            margin-left: auto
            margin-right: auto
            width: 25rem
            font-size: 2rem

            .desktop-only 
                display: none

    &__vote-link
        display: flex
        flex-direction: column 
        justify-content: center
        margin-top: 5rem
        width: 26.4rem
        height: 25.2rem
        text-align: center
        background-color: $blue
        box-shadow: 0 0.6rem 3.5rem rgba(39,189,240,.51)
        transition: opacity .3s ease-in-out

        .icon 
            margin: 0 auto 2rem auto
            width: 8.1rem
            height: 7.3rem

            img 
                display: block
                width: 100%
                height: auto

        span 
            text-transform: uppercase
            font-family: $font-alt 
            font-weight: 500
            font-size: 2.4rem
            line-height: 2.6rem
            color: #fff

        &:hover 
            opacity: 0.8
