.product 
    padding-bottom: 2.6rem

    .section__title 
        margin-top: 0.8rem
        max-width: 44rem
        font-size: 6rem
        line-height: 7rem
        color: #fff

        @media (max-width: $screenMob)
            margin-top: 0.4rem
            font-size: 4rem
            line-height: 3rem