.question
    border-bottom: 0.1rem solid #1a5e8b

    &:first-of-type 

        @media (max-width: $screenMob)
            margin-top: 0.8rem

    &:last-child 

        @media (max-width: $screenMob)
            margin-bottom: 3.8rem

    &__trigger
        margin: 0
        padding: 1.9rem 0 1.2rem 0
        text-transform: uppercase
        font-family: $font-alt 
        font-size: 2.4rem
        line-height: 4rem
        color: #1a5e8b
        transition: color 0.3s ease
        cursor: pointer

        @media (max-width: $screenMob)
            padding-top: 1.3rem
            pb1.3rem
            font-size: 2rem
            line-height: 2.4rem

        &:hover 
            color: $blue

    &__body 
        max-height: 0
        overflow: hidden
        transition: max-height 0.3s ease

        p 
            margin: 0 0 1rem 0
            font-size: 1.6rem
            line-height: 2rem
            letter-spacing: 0.09rem

            @media (max-width: $screenMob)
                font-size: 1.6rem
                line-height: 2rem

    &__body-inner 
        box-sizing: border-box
        padding: 1rem 0
        min-height: 7rem

    &.opened

        .question__trigger
            color: $blue

        .question__body
            max-height: 30rem