.scroll-down
    position: absolute
    bottom: 13rem
    left: 50%
    transform: translateX(-50%)
    font-size: 0
    width: 0.4rem
    height: 0.4rem
    border: 0.3rem solid #fff
    border-radius: 50%
    z-index: 2

    @media (max-width: $screenMob)
        bottom: auto 
        top: 46.6rem

    &:after 
        content: ""
        position: absolute
        top: 1.5rem
        width: 0.4rem
        height: 0.4rem
        background-color: #fff
        border-radius: 50%
        box-shadow: 0 1.1rem 0 0 #fff, 0 2.2rem 0 0 #fff