.search 
    position: relative
    margin-right: 2rem
    padding-top: 2.1rem
    width: 68.9rem

    @media (max-width: $screenMob)
        padding-top: 1.5rem
        width: 28rem

    &__field 
        display: block
        width: 100%
        font-size: 2rem
        line-height: 3rem
        color: #00adef
        background-color: $transparent
        border: none 
        border-bottom: 1px solid #195d8b

        @media (max-width: $screenMob)
            font-size: 1.6rem
            line-height: 2.4rem

        &:focus 
            outline: none

    &__submit 
        position: absolute
        top: 2.2rem
        right: 0
        display: block
        padding: 0
        width: 3rem
        height: 3rem
        font-size: 0
        background-color: $transparent 
        border: none
        background-image: url("../images/icon-search.png")
        background-repeat: no-repeat 
        background-size: 1.9rem 1.9rem
        background-position: center right

        @media (max-width: $screenMob)
            top: 1.5rem
            width: 2.4rem
            height: 2.4rem
            background-size: 1.7rem 1.7rem
            background-position: center right 0.3rem
 
    input::-webkit-input-placeholder 
      color: #195d8b

    input:-moz-placeholder 
      color: #195d8b

    input::-moz-placeholder 
      color: #195d8b

    input:-ms-input-placeholder 
      color: #195d8b