.section 

    &.choose-friend 
        padding-bottom: 6.3rem

        @media (max-width: $screenMob)
            padding-left: 2rem
            padding-right: 2rem
            padding-bottom: 0

    &__wrapper 
        margin: 0 auto
        width: 112.6rem

        @media (max-width: $screenMob)
            width: 28rem

            .nominees & 
                width: 32rem

    &__row 
        display: flex
        align-items: flex-start

        @media (max-width: $screenMob)
            flex-direction: column
    
    &__title 
        margin: 0 auto 2.7rem 0
        margin-top: 1.3rem
        text-transform: uppercase
        font-family: $font-alt 
        font-weight: 500
        font-size: 4.6rem
        line-height: 5rem
        color: #00adef
        letter-spacing: -0.04rem 

        @media (max-width: $screenMob)
            margin: 0
            width: 100%
            text-align: center
            font-size: 2.6rem
            line-height: 3rem

        .talent &
            padding-top: 5.5rem

            @media (max-width: $screenMob)
                padding-top: 2.3rem
                margin-bottom: 1.7rem

    &__col-title 
        margin: 0
        text-transform: uppercase
        font-family: $font-alt 
        font-weight: 500
        font-size: 6rem
        line-height: 8.8rem
        color: #fff

        .faq-page &
            font-size: 5rem
            line-height: 7.8rem

        @media (max-width: $screenMob)
            font-size: 4rem
            line-height: 3rem
            text-align: center