.social-block 
    display: flex 
    justify-content: flex-end
    margin-left: auto
    margin-right: 5rem
    padding-top: 3.2rem
    max-width: 20rem    

    @media (max-width: $screenMob)
        margin-right: auto

.social-btn 
    display: flex
    flex-direction: column 
    justify-content: flex-end
    padding: 0 0.8rem
    height: 3rem

    &:hover 

        svg 
            fill: $blue

    svg 
        fill: #114674
        transition: fill 0.3s ease

    &--fb 

        svg 
            width: 1rem
            height: 2rem

    &--vk 

        svg 
            width: 2.4rem
            height: 1.5rem

    &--ok 

        svg 
            width: 1.2rem
            height: 2.1rem

    &--tw 

        svg 
            width: 2rem
            height: 1.5rem

    &--gp 

        svg 
            width: 2.1rem
            height: 1.4rem


.social-block-mobile 
    display: none 

    @media (max-width: $screenMob)
        display: block

        .social-block 
            justify-content: center