.tab-controls 
    position: relative
    z-index: 2
    padding-top: 1.8rem

    @media (max-width: $screenMob)
        width: 32rem
        max-width: 100%
        max-height: 3.8rem
        padding-top: 0
        overflow: hidden
        background-image: linear-gradient(to bottom, $transparent 0%, $transparent 3rem, #114674 3rem, #114674 3.2rem, $transparent 3.2rem, $transparent 100%)

    ul 
        position: absolute
        left: 0
        top: 1.8rem
        display: flex
        margin: 0
        padding: 0
        max-width: 90rem
        list-style: none

        @media (max-width: $screenMob)
            position: static
            padding-left: 20px
            padding-right: 20px
            overflow: auto

.tab-control 
    margin-right: 5.3rem
    margin-bottom: 3.2rem
    text-transform: uppercase
    font-family: $font-alt 
    font-size: 3.6rem
    line-height: 4rem
    color: #114674
    border-bottom: 0.5rem solid #114674
    cursor: pointer
    transition: color 0.3s ease, border-color 0.3s ease

    @media (max-width: $screenMob)
        margin-right: 1.5rem
        font-size: 2.6rem
        line-height: 3rem
        white-space: nowrap
        border-bottom: 0.2rem solid $transparent

    &.active 
        color: #fff
        border-bottom: 0.5rem solid $transparent

        @media (max-width: $screenMob)
            color: $blue 
            border-bottom: 0.2rem solid $blue

.tab 
    padding: 0
    max-height: 0
    opacity: 0
    z-index: -100 
    transition: opacity 0.3s ease
    overflow: hidden

    &.active 
        padding-top: 8.5rem
        max-height: 100rem
        opacity: 1  
        z-index: 1

        @media (max-width: $screenMob)
            padding-top: 0