.talent 
    background-color: #031f36
    //background-image: linear-gradient(to top, #031f36 0%, #031f36 2rem, #0b3b64 2rem, #0b3b64 2.5rem, #031f36 2.5rem, #031f36 100%)
    overflow-x: hidden
    max-height: 0
    transition: max-height .4s ease-in-out

    //@media (max-width: $screenMob)
        background-image: linear-gradient(to top, #031f36 0%, #031f36 0.5rem, #0b3b64 0.5rem, #0b3b64 1rem, #031f36 1rem, #031f36 100%)

    &._show
        max-height: 800px

.talents-slider 
    margin-top: -7.5rem
    //margin-left: -17.5rem
    margin-left: -2rem
    padding-top: 8.6rem
    padding-bottom: 8.2rem
    //width: calc(100% + 20.8rem)
    width: calc(100% + 3rem)

    @media (max-width: $screenMob)
        margin-left: 0 
        margin-top: 0
        padding-top: 0.2rem
        padding-bottom: 4.5rem
        width: 100%

    .swiper-scrollbar-drag
        background-color: #27bdef
        border-radius: 0

    .swiper-scrollbar
        background-color: #0b3b64
        bottom: 17px

    .swiper-button-prev,
    .swiper-button-next 
        right: auto
        left: 50%
        top: 0
        margin-top: 0
        width: 4.4rem
        height: 4.4rem
        background-color: #0b3b63
        background-image: none
        transition: background-color .3s ease-in-out

        &:hover
            background-color: #1a5e8b

        @media (max-width: $screenMob)
            left: 0
            top: 9.6rem
            background-color: $transparent !important

        &:after 
            content: ""
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%,-50%) rotate(-45deg)
            margin-left: 2px
            width: 1.3rem
            height: 1.3rem
            border-top: 0.3rem  solid #00adef
            border-left: 0.3rem  solid #00adef

            @media (max-width: $screenMob)
                margin-left: -0.3rem

    .swiper-button-next
        transform: scale(-1,1)

    .swiper-button-next 
        margin-left: 59rem

        @media (max-width: $screenMob)
            left: auto 
            right: 0
            margin-left: 0

            &:after 
                margin-left: 0

    .swiper-button-prev 
        margin-left: 54rem

        @media (max-width: $screenMob)
            margin-left: 0

    .swiper-pagination-fraction
        display: inline-block
        vertical-align: top
        padding: 0 1rem
        font-family: $font-alt 
        font-weight: 500
        font-size: 1.4rem
        line-height: 3.5rem
        bottom: -1.4rem !important
        color: $blue
        background-color: #031f36

        @media (max-width: $screenMob)
            padding: 0 0.5rem   
            font-size: 1.2rem

        //&:before,
        //&:after
            content: ""
            position: absolute
            top: 2rem
            width: 12rem
            height: 0.5rem
            background-color: $blue

            @media (max-width: $screenMob)
                width: 4.6rem

        &:before 
            right: 100%

        &:after
            left: 100%

        .swiper-pagination-current,
        .swiper-pagination-total 
            font-size: 3rem

            @media (max-width: $screenMob)
                font-size: 2rem

    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal>.swiper-pagination-bullets
        width: auto
        left: 50%
        bottom: 0.4rem
        margin-left: -36.9rem

        @media (max-width: $screenMob)
            margin-left: -10.1rem
            bottom: -0.8rem

.talents-slide
    box-sizing: border-box
    margin: 0 1.7rem
    width: 28rem !important
    padding: 1.4rem 2rem
    min-height: 19.7rem
    outline: 0.2rem solid #0b3b64
    transition: background-color 0.3s ease

    @media (max-width: $screenMob)
        margin: 0 0.5rem
        padding: 1.3rem
        padding-bottom: 1rem
        width: 23rem !important
        height: 23.8rem

    &__header 
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex

    &__title 
        margin: 0 auto 1rem 0
        max-width: 80%
        text-transform: uppercase
        font-family: $font-alt 
        font-weight: 500
        font-size: 3.5rem
        line-height: 4rem
        color: #1a5e8b

        @media (max-width: $screenMob)
            margin-bottom: 0.7rem
            font-size: 2rem
            line-height: 2.4rem

        .swiper-slide-active & 
            color: #f54797
            text-shadow: 0 0 6px rgba(245,72,152,.55)

    &__icon 

        svg 
            display: block
            fill: #1a5e8b

            .swiper-slide-active & 
                fill: #f54797
                filter: drop-shadow( 0 0 0.5rem rgba(245,72,152,1))


        .micro 
            width: 3.4rem
            height: 4.2rem

        .guitar 
            width: 7.4rem
            height: 7.4rem

            @media (max-width: $screenMob)
                width: 4.2rem
                height: 4.2rem

    &__body 
        max-height: 0
        overflow: hidden 

        .swiper-slide-active & 
            max-height: 50rem

        p 
            margin: 0
            font-size: 1.6rem
            line-height: 2rem
            color: $blue
            letter-spacing: 0.09rem

    .plus 
        position: absolute
        bottom: 0.5rem
        left: 1.1rem
        display: block
        padding: 0
        width: 5rem
        text-align: center
        font-weight: 300
        font-size: 8rem
        line-height: 5rem
        color: #195d8b
        background-color: $transparent
        border: none

        &:focus 
            outline: none

    &.swiper-slide-active
        width: 42.3rem !important   
        background-color: #0b3b64
        outline: none

        @media (max-width: $screenMob)
            width: 23rem !important
            outline: 0.2rem solid #0b3b64

        .plus
            display: none

    &:first-child, &:first-child.swiper-slide-active
        width: 0 !important
        padding: 0
        border: none !important
        outline: none