.video 
    display: flex 
    flex-direction: column 
    justify-content: flex-end
    width: 100%
    height: 66.45rem

    @media (max-width: $screenMob)
        height: 28rem

    &__footer 
        display: flex
        margin-top: auto

        @media (max-width: $screenMob)
            display: block

    &__slogan
        position: relative
        margin: 0
        padding-left: 6.1rem
        padding-top: 2rem
        max-width: 35rem
        font-family: $font-alt 
        text-transform: uppercase
        font-weight: 500
        font-size: 3rem
        line-height: 3.5rem
        color: $blue

        @media (max-width: $screenMob)
            padding-left: 4rem
            padding-right: 4rem
            padding-top: 2.6rem
            text-align: center
            font-size: 2rem
            line-height: 2.4rem

        &:before 
            content: ""
            position: absolute
            left: 0
            top: -1rem
            width: 0.2rem
            height: 12.4rem
            background-color: $blue 

            @media (max-width: $screenMob)
                display: none

.play-btn 
    position: relative
    display: inline-block
    vertical-align: top 
    margin-left: 4.7rem
    margin-right: 5.2rem
    padding: 0
    padding-bottom: 2.2rem
    padding-top: 7.7rem
    background-color: $transparent 
    background-image: url("../images/play.png")
    background-repeat: no-repeat 
    background-size: 2.4rem 3.2rem 
    background-position: top 4rem left 5.3rem
    border: none
    outline: none

    @media (max-width: $screenMob)
        display: block
        margin-left: auto
        margin-right: auto
        background-size: 2.7rem 3.2rem
        background-position: top 4rem left 6.2rem

    &:hover 

        &:before 
            transform: rotate(-75deg)

        &:after 
            transform: rotate(-15deg)

    &:hover 
        background-image: url("../images/play-blue.png"), url("../images/play.png")
        background-repeat: no-repeat 
        background-size: 2.4rem 3.2rem 
        background-position: top 4rem left 5.3rem

        @media (max-width: $screenMob)
            background-size: 2.7rem 3.2rem
            background-position: top 4rem left 6.2rem

    span 
        display: block
        text-transform: uppercase
        font-family: $font-alt 
        font-weight: 500
        font-size: 2.2rem
        line-height: 5rem
        color: #fff

        @media (max-width: $screenMob)
            margin-top: 1.3rem
            font-size: 2.6rem
            line-height: 3rem

    &:before,
    &:after 
        content: ""
        position: absolute
        top: 0
        left: 0.22rem
        width: 11.6rem
        height: 11.6rem
        border-width: 0.2rem 
        border-color: $blue $blue $transparent $transparent 
        border-style: solid
        border-radius: 50%  
        transform: rotate(-45deg)
        transition: transform 0.3s ease

        @media (max-width: $screenMob)
            left: 1.3rem

.video-content
    display: flex 
    flex-direction: column
    height: 100%
    background-image: url("../images/poster.png")
    background-repeat: no-repeat 
    background-size: cover 
    background-position: bottom center

.video 
    
    @media (max-width: $screenMob)
        background-image: url("../images/poster-mob.png")
        background-repeat: no-repeat 
        background-size: cover 
        background-position: bottom center


