.winners-slider
    position: relative

    .section__wrapper 

        @media (max-width: $screenMob)
            padding: 0
            width: 32rem

    &.finalists
        background-image: linear-gradient(to top, #032d50 0%, #032d50 4.75rem, #0b3b64 4.75rem, #0b3b64 5.3rem, #032d50 5.3rem, #032d50 100%)

        @media (max-width: $screenMob)
            background-image: none

    &:last-child 
        padding-top: 3.7rem 
        padding-bottom: 1.2rem
        background-color: #031f36

        @media (max-width: $screenMob)
            padding-top: 3rem
            padding-bottom: 4.4rem

        .winners-slider__title 
            margin-bottom: 1.8rem

            @media (max-width: $screenMob)
                margin-bottom: 2.6rem

    &__title 
        font-size: 6rem
        line-height: 6rem

        @media (max-width: $screenMob)
            margin: 0 auto 
            margin-bottom: 2.1rem
            margin-top: 1.9rem
            max-width: 21rem
            font-size: 4rem
            line-height: 0
            color: #fff

        .legend 
            display: inline-block
            vertical-align: bottom
            font-size: 3.097rem
            line-height: 5.8rem
            color: #fff
            letter-spacing: 0.005rem    

            @media (max-width: $screenMob)
                display: inline
                padding-left: 0
                text-transform: lowercase
                font-family: $font
                font-weight: 400
                font-size: 1.651rem
                line-height: 1.8rem
                color: #fff

            &:first-child 
                padding-left: 2.5rem

                @media (max-width: $screenMob)
                    display: block
                    margin-top: 3.2rem
                    padding-left: 0

        .total 
            font-size: 7rem

            @media (max-width: $screenMob)
                font-family: $font 
                font-weight: 400
                display: inline
                font-size: 1.651rem
                line-height: 1.8rem

    .social-block
        position: absolute
        bottom: 5.2rem
        right: 0
        margin-right: 4.9rem
        z-index: 1

        @media (max-width: $screenMob)
            position: static
            margin: 0 auto
            margin-top: -0.5rem
            padding: 0
            justify-content: center


.winners-swiper-container
    margin-top: -8.2rem
    margin-left: -4.7rem
    padding-top: 11.4rem
    padding-bottom: 5.7rem
    padding-left: 2.1rem
    width: 122.4rem

    @media (max-width: $screenMob)
        position: absolute
        opacity: 0
        z-index: -100
        width: 32rem
        margin: 0
        padding: 0

    .nominee-card 
        box-shadow: 0 0 0.5rem rgba(0,0,0,0.15)

    .swiper-button-prev,
    .swiper-button-next 
        right: auto
        left: 50%
        top: 0
        margin-top: 0
        width: 4.4rem
        height: 4.4rem
        background-color: #0b3b63
        background-image: none
        transition: background-color .3s ease-in-out

        &:hover
            background-color: #1a5e8b

        &:after 
            content: ""
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%,-50%) rotate(-45deg)
            margin-left: 2px
            width: 1.3rem
            height: 1.3rem
            border-top: 0.3rem  solid #00adef
            border-left: 0.3rem  solid #00adef

    .swiper-button-next
        transform: scale(-1,1)

    .swiper-button-next 
        margin-left: 49.2rem

    .swiper-button-prev 
        margin-left: 44.2rem

    .swiper-pagination-fraction
        display: inline-block
        vertical-align: top
        padding: 0 1rem
        font-family: $font-alt 
        font-weight: 500
        font-size: 1.4rem
        line-height: 3.5rem
        color: $blue
        background-color: #032d50

        &:before,
        &:after
            content: ""
            position: absolute
            top: 1.9rem
            width: 12rem
            height: 0.5rem
            background-color: $blue

        &:before 
            right: 100%

        &:after
            left: 100%

        .swiper-pagination-current,
        .swiper-pagination-total 
            font-size: 3rem

    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal>.swiper-pagination-bullets
        width: auto
        left: 50%
        bottom: 3.1rem
        margin-left: -45.1rem


.winners-swiper-container-2
    padding-bottom: 0

    @media (max-width: $screenMob)
        position: absolute
        opacity: 0
        z-index: -100

    .swiper-button-prev,
    .swiper-button-next 
        opacity: 0
        z-index: -100

        @media (max-width: $screenMob)
            opacity: 1
            z-index: 1

.winners-slide 
    width: 26.4rem
    margin: 0 2.2rem

    @media (max-width: $screenMob)
        display: flex
        width: 47.8rem
        margin: 0 0.5rem    

        .nominee-card 
            margin-right: 1rem

.swiper-container-mob
    opacity: 0
    z-index: -100   
    position: absolute
    width: 0
    margin-top: -5rem
    padding-bottom: 7.3rem
    padding-top: 5rem
    background-image: linear-gradient(to top, #032d50 0%, #032d50 3.05rem, #0b3b64 3.05rem, #0b3b64 3.55rem, $transparent 3.55rem, $transparent 100%)

    @media (max-width: $screenMob)
        position: relative
        width: 100%
        opacity: 1
        z-index: initial

    .swiper-button-prev,
    .swiper-button-next 
        left: 0
        top: 12.5rem
        margin-top: 0
        width: 4.4rem
        height: 4.4rem
        background-color: $transparent
        background-image: none
        z-index: 1

        &:after 
            content: ""
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%,-50%) rotate(-45deg)
            margin-left: -0.3rem
            width: 1.3rem
            height: 1.3rem
            border-top: 0.3rem  solid #00adef
            border-left: 0.3rem  solid #00adef

    .swiper-button-next
        transform: scale(-1,1)
        left: auto 
        right: 0

        &:after 
            margin-left: 0

    .swiper-pagination-fraction
        display: inline-block
        vertical-align: top
        padding: 0 0.5rem
        font-family: $font-alt 
        font-weight: 500
        font-size: 1.2rem
        line-height: 3.5rem
        color: $blue
        background-color: #032d50

        &:before,
        &:after 
            content: ""
            position: absolute
            top: 1.9rem
            width: 4.6rem
            height: 0.5rem
            background-color: $blue

        &:before 
            right: 100%

        &:after
            left: 100%

        .swiper-pagination-current,
        .swiper-pagination-total 
            font-size: 2rem

    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal>.swiper-pagination-bullets
        width: auto
        left: 6rem
        bottom: 1.7rem
        margin-left: 0

.swiper-container-mob2
    background-image: linear-gradient(to top, #031f36 0%, #031f36 3.05rem, #0b3b64 3.05rem, #0b3b64 3.55rem, $transparent 3.55rem, $transparent 100%)

    .swiper-pagination-fraction
        background-color: #031f36