.nominees-list-section

    .section__wrapper
        display: flex

        @media (max-width: $screenMob)
            flex-direction: column

.nominees_list-title-mobile
    display: none
    margin: 0 0 1.6rem 0
    text-align: center
    font-weight: 500
    font-family: $font-alt 
    text-transform: uppercase
    font-size: 4rem
    line-height: 4rem
    color: #fff

    @media (max-width: $screenMob)
        display: block