@import normalize
@import fonts.scss
@import animation


// ----------------------------------------------------------------------
    // General styles
// ----------------------------------------------------------------------

html
    width: 100%
    font-size: 0.6931vw

    @media (max-width: $screenMob)
        font-size: 3.125vw

html *
    max-height: 1000000px

body
    margin: 0
    width: 100%
    min-width: 136.6rem
    min-height: 100vh
    font-family: $font
    font-size: 1.6rem
    line-height: 2.1rem
    color: #fff
    background-color: #031f36

    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

    &.main
        .page--current
            background-color: #050912
            background-image: url("../images/bg.jpg")
            background-repeat: no-repeat
            background-size: 136.6rem auto
            background-position: center top

            @media (max-width: $screenMob)
                background-image: url("../images/bg-mob.png")
                background-size: 32rem auto

        .page-header 
            position: absolute

    &.overflow 
        height: 100vh
        overflow: hidden

    &.loading 

        &:after 
            content: ""
            position: fixed
            top: 0
            left: 0
            bottom: 0
            right: 0
            background-color: #030d21
            z-index: 5000

    @media (max-width: $screenMob)
        min-width: 32rem

.global-wrapper
    display: flex 
    flex-direction: column
    margin: 0 auto
    min-height: 100vh
    position: relative
    -ms-overflow-x: hidden
    overflow-x: hidden

body
    .mCSB_1_container,
    .mCSB_inside>.mCSB_container
        margin-right: 0

    .mCSB_scrollTools
        width: 0.5rem

    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
        background-color: $blue
        border-radius: 0

    .mCSB_scrollTools .mCSB_draggerRail
        width: 0.5rem
        background-color: #0b3b64
        border-radius: 0

.pages
    position: relative
    z-index: 1
    margin-bottom: 41.2rem

    @media (max-width: $screenMob)
        margin-bottom: 0

.layout-positioner
    position: relative
    box-sizing: border-box
    margin: 0 auto
    padding: 0 3.2rem
    width: 136.6rem

    @media (max-width: $screenMob)
        padding: 0 2rem
        width: 32rem

.hidden
    display: none !important

.invisible
    position: absolute
    z-index: -100
    visibility: hidden

