@font-face {
    font-family: 'PF Din Text Comp Pro';
    src: url('../fonts/PFDinTextCompProMedium.eot');
    src: url('../fonts/PFDinTextCompProMedium.eot') format('embedded-opentype'),
         url('../fonts/PFDinTextCompProMedium.woff2') format('woff2'),
         url('../fonts/PFDinTextCompProMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: 'PF Din Text Pro';
  src: url('../fonts/pfdintextpro-regular.eot');
  src: url('../fonts/pfdintextpro-regular.eot') format('embedded-opentype'),
         url('../fonts/pfdintextpro-regular.woff2') format('woff2'),
         url('../fonts/PFDinTextPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PF Din Text Pro';
  src: url('../fonts/pfdintextpro-light.eot');
  src: url('../fonts/pfdintextpro-light.eot') format('embedded-opentype'),
         url('../fonts/pfdintextpro-light.woff2') format('woff2'),
         url('../fonts/PFDinTextPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
    font-family: 'QueenofClubs';
    src: url('../fonts/QueenofClubs.eot');
    src: url('../fonts/QueenofClubs.eot') format('embedded-opentype'),
         url('../fonts/QueenofClubs.woff2') format('woff2'),
         url('../fonts/QueenofClubs.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

