// ----------------------------------------------------------------------
    // Sizes
// ----------------------------------------------------------------------
$screenXL: 1200px;
$screenL: 1024px;
$screenMob: 1024px;
$screenM: 768px;


// ----------------------------------------------------------------------
    // Colors
// ----------------------------------------------------------------------
$transparent: rgba(255, 255, 255, 0);
$textColor: rgba(0, 0, 0, 0.6);
$pink: #c3155b;
$l-pink: #f54898;
$blue: #27bdef;

// ----------------------------------------------------------------------
    // Gradients
// ----------------------------------------------------------------------
// ----------------------------------------------------------------------
    // Fonts
// ----------------------------------------------------------------------
$font: 'PF Din Text Pro', Arial, sans-serif;
$font-alt: 'PF Din Text Comp Pro', Arial, sans-serif;
