.modal-wrapper 
    visibility: hidden
    position: fixed
    z-index: 900
    opacity: 0
    transition: opacity 0.1s ease, width 0.5s ease 0.7s, height 0.5s ease 0.7s, top 0.5s ease 0.7s, left 0.5s ease 0.7s, margin-left 0.5s ease 0.7s, margin-top 0.5s ease 0.7s
    overflow: hidden

    @media (max-width: $screenMob)
        transition: none

    &.open
        visibility: visible
        opacity: 1
        margin-left: -43.1rem
        margin-top: -26.9rem
        left: 50% !important
        top: 50% !important
        width: 86.2rem !important
        height: 53.8rem !important

        @media (max-width: $screenMob)
            margin: 0
            top: 0 !important
            left: 0 !important
            right: 0
            bottom: 0
            width: 32rem !important
            height: 100vh !important

            .btn 
                margin-top: 1.6rem

        &.popup-winners 

            .btn
                width: 100%
                margin-top: 2rem

            @media (max-width: $screenMob)
                left: 2rem !important
                right: auto
                width: 28rem !important
                height: auto  !important
                min-height: 1rem
                overflow: visible

                .mCSB_container
                    padding-top: 7.7rem

                .modal 
                    position: relative
                    height: auto

                .modal-close 
                    top: -5.8rem

                .modal__inner 
                    padding-top: 0
                    padding-bottom: 1.6rem
                    min-height: 1rem 
                    height: auto 
                    margin-bottom: auto

        .modal 
            opacity: 1

            &__inner, &-close
                opacity: 1

    &.close 
        visibility: visible
        opacity: 1

        .modal 
            opacity: 0
            transition: opacity 0.3s ease 0.05s

            &__inner
                opacity: 0

    .modal 
        text-align: center
        background-color: #032d50
        background-repeat: no-repeat 
        background-size: cover 
        background-position: top center
        opacity: 0
        transition: opacity 0.5s ease 0.2s

        @media (max-width: $screenMob)
            transition: opacity 0.3s ease
            height: 100%

        &._places

            .modal__inner

                @media (max-width: $screenMob)
                    padding-top: 10rem

        &._auth
            background-image: url("../images/bg-auth.jpg")

            .modal__buttons
                margin-top: 10rem

                @media (max-width: $screenMob)
                    margin-top: 6rem

            @media (max-width: $screenMob)
                background-color: #01172a
                background-image: url("../images/bg-popup-mob.jpg")
                background-size: 100% auto 
                background-position: top center

        &._age 

            .modal__title
                margin-bottom: 3.4rem

                @media (max-width: $screenMob)
                    margin-bottom: 2rem

            .modal__buttons
                margin-top: 5.3rem

                @media (max-width: $screenMob)
                    flex-direction: row

        &._voice 

            .modal__title
                margin-bottom: 3rem

                @media (max-width: $screenMob)
                    margin-bottom: 2rem

            .modal__subtitle
                margin-bottom: 4.6rem

                @media (max-width: $screenMob)
                    margin-bottom: 0

            .btn 
                margin: 0 1.9rem
                width: 34rem

                @media (max-width: $screenMob)
                    margin: 3.6rem 0 0 0 
                    width: 28rem

            .modal__buttons
                padding-bottom: 3rem

                @media (max-width: $screenMob)
                    padding-bottom: 0
                    margin-top: 0

        &._approve

            .btn 
                width: 34rem

                @media (max-width: $screenMob)
                    width: 28rem

            .modal__buttons
                padding-bottom: 3rem

                @media (max-width: $screenMob)
                    padding-bottom: 0

        &._nominee

            .btn 
                width: 34rem

                @media (max-width: $screenMob)
                    width: 28rem

            .modal__title
                margin-bottom: 3.5rem

                @media (max-width: $screenMob)
                    margin-bottom: 2rem

            .modal__subtitle
                margin-bottom: 2.5rem   

                @media (max-width: $screenMob)
                    margin-bottom: 0

            .modal__buttons
                padding-bottom: 0

                @media (max-width: $screenMob)
                    margin-top: 2rem

        &._error

            .btn 
                width: 34rem

                @media (max-width: $screenMob)
                    width: 28rem

            .modal__title
                margin-bottom: 3.5rem

                @media (max-width: $screenMob)
                    margin-bottom: 2rem

            .modal__buttons
                padding-bottom: 5.5rem

                @media (max-width: $screenMob)
                    padding-bottom: 0

        &__inner 
            box-sizing: border-box
            padding: 12.3rem 5.8rem 5.8rem 5.8rem
            height: 100%
            min-height: 53.8rem
            opacity: 0
            transition: opacity 0.3s ease 1.1s

            @media (max-width: $screenMob)
                padding-left: 2rem
                padding-right: 2rem
                padding-top: 15.6rem

            @media (max-width: $screenMob)
                transition: opacity 0.3s ease

            &._flex 
                display: flex
                flex-direction: column

        &__title 
            margin: 0 0 2.5rem 0
            text-transform: uppercase
            font-family: $font-alt
            font-weight: 500
            font-size: 6rem
            line-height: 6.5rem
            color: #fff

            @media (max-width: $screenMob)
                margin-bottom: 2rem
                font-size: 2.6rem
                line-height: 3rem

        &__subtitle
            margin: 0
            font-weight: 300
            font-size: 2rem
            line-height: 2.4rem
            color: #fff
            letter-spacing: 0.1rem

            @media (max-width: $screenMob)
                font-size: 1.6rem
                line-height: 1.8rem
                max-width: 20rem
                margin-left: auto
                margin-right: auto
                margin-bottom: 0

                br 
                    display: none

        &__text
            margin: 3.2rem 0 0 0
            font-weight: 300
            font-size: 2rem
            line-height: 24px   
            color: #fff

        &__question
            margin-top: auto
            margin-left: auto
            margin-right: auto
            max-width: 46rem
            color: $pink

        &__buttons 
            display: flex
            justify-content: center
            margin-top: auto
            padding-bottom: 8.5rem

            @media (max-width: $screenMob)
                flex-direction: column
                margin-top: 0
                padding-bottom: 0

        &__btn-next
            padding-left: 1rem
            padding-right: 6.2rem
            min-width: 34rem

            span
                position: relative

                &:before,
                &:after 
                    content: ""
                    position: absolute
                    top: 50%
                    transform: translateY(-50%)

                &:before
                    right: -6rem
                    height: 0.2rem
                    width: 3.4rem
                    background-color: #fff

                &:after
                    right: -6rem
                    width: 0.9rem
                    height: 9px
                    border-top: 0.2rem solid #fff 
                    border-left: 0.2rem solid #fff 
                    transform: translateY(-50%) rotate(135deg)

.modal-close 
    position: absolute
    top: 5.8rem
    left: 50%
    transform: translateX(-50%)
    padding: 0
    width: 3.1rem
    height: 3.1rem
    font-size: 0
    background-color: $transparent
    border: none
    opacity: 0
    transition: opacity 0.3s ease 0.7s, transform .3s ease-in-out
    transform-origin: 50% 50%
    outline: none

    @media (max-width: $screenMob)
        transition: opacity 0.3s ease
        top: 4.1rem

    &:hover
        transform: translateX(-50%) rotate(180deg)

    &:hover,
    &:focus,
    &:active 
        opacity: 0.8

    &:before, 
    &:after 
        content: ""
        position: absolute
        top: -0.6rem
        left: 1.5rem
        width: 0.2rem
        height: 4.4rem
        background-color: #fff
        border-radius: 0.1rem
        transform: rotate(45deg)

    &:after
        transform: rotate(-45deg)

.modal-wrapper .mCSB_scrollTools
    width: 0