.no-transition {
    -webkit-transition: none !important;
    transition: none !important;
}
.overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 2, 6, 0.9);
    transition: opacity 0.3s 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 899;

    @media (max-width: $screenMob){
        transition: opacity 0.3s;
    }
}
.overlay.visible {
    opacity: 1;
    visibility: visible;
}
.overlay.close {
    visibility: visible;
}