/* Revealers */

.revealer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    pointer-events: none;
}

.revealer--cornertopleft,
.revealer--cornertopright,
.revealer--cornerbottomleft,
.revealer--cornerbottomright {
    top: 50%;
    left: 50%;
}

.revealer--top,
.revealer--bottom {
    left: 0;
}

.revealer--right,
.revealer--left {
    top: 50%;
    left: 50%;
}

.revealer--top {
    bottom: 100%;
}

.revealer--bottom {
    top: 100%;
}

.revealer__layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0b3b64;
}

/* Three layer effect (effect-3) */

.anim--effect-3 .revealer--animate .revealer__layer {
    -webkit-animation: anim-effect-3-1 1.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) forwards;
    animation: anim-effect-3-1 1.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) forwards;
}

.anim--effect-3 .revealer--animate .revealer__layer:nth-child(2) {
    -webkit-animation-name: anim-effect-3-2;
    animation-name: anim-effect-3-2;
}

.anim--effect-3 .revealer--animate .revealer__layer:nth-child(3) {
    -webkit-animation-name: anim-effect-3-3;
    animation-name: anim-effect-3-3;
}

@-webkit-keyframes anim-effect-3-1 {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    25%,
    75% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    100% {
        -webkit-transform: translate3d(0, -200%, 0);
        transform: translate3d(0, -200%, 0);
    }
}

@keyframes anim-effect-3-1 {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    25%,
    75% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    100% {
        -webkit-transform: translate3d(0, -200%, 0);
        transform: translate3d(0, -200%, 0);
    }
}

@-webkit-keyframes anim-effect-3-2 {
    0%,
    12.5% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    37.5%,
    62.5% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    87.5%,
    100% {
        -webkit-transform: translate3d(0, -200%, 0);
        transform: translate3d(0, -200%, 0);
    }
}

@keyframes anim-effect-3-2 {
    0%,
    12.5% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    37.5%,
    62.5% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    87.5%,
    100% {
        -webkit-transform: translate3d(0, -200%, 0);
        transform: translate3d(0, -200%, 0);
    }
}

@-webkit-keyframes anim-effect-3-3 {
    0%,
    25% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    75%,
    100% {
        -webkit-transform: translate3d(0, -200%, 0);
        transform: translate3d(0, -200%, 0);
    }
}

@keyframes anim-effect-3-3 {
    0%,
    25% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    75%,
    100% {
        -webkit-transform: translate3d(0, -200%, 0);
        transform: translate3d(0, -200%, 0);
    }
}

.block-revealer__element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    pointer-events: none;
    opacity: 0;
}

.page {
    opacity: 0;
    z-index: -100;
    max-height: 0;
    overflow: hidden;

    &--current {
        opacity: 1;
        z-index: initial;
        max-height: 100000px;
        min-height: calc(100vh - 8.867rem - 39.65rem);
        overflow: visible;
    }
}

.blank-page {
    //width: 100vw;
    box-sizing: border-box;
    z-index: -100;
    opacity: 0;

    &.page--current {
        z-index: 1000;
        opacity: 1;
        padding-top: 8.867rem;
    }
}

