.page-footer 
    margin-top: auto
    padding-top: 1rem
    padding-bottom: 5rem
    color: #2c3e5d
    background-color: #021627
    position: fixed
    bottom: 0
    left: 0
    width: 100%

    @media (max-width: $screenMob)
        padding-top: 3.3rem
        position: static

    &__link-wrapper 
        display: none

        @media (max-width: $screenMob)
            display: block
            margin-bottom: 2.5rem
            width: 100%
            text-align: center

    &__link 
        display: inline-block
        vertical-align: top
        text-transform: uppercase
        font-size: 1.4rem
        line-height: 1.4rem
        color: #2c3e5d
        letter-spacing: 0.07rem 
        border-bottom: 0.1rem  solid #2c3e5d

    &__inner 
        display: flex

        @media (max-width: $screenMob)
            flex-wrap: wrap 

    &__col 
        box-sizing: border-box
        width: 50%

        @media (max-width: $screenMob)
            width: 100%

        &:first-child 
            padding-right: 2rem

        &:last-child 
            padding-left: 3rem
            padding-right: 9rem

            @media (max-width: $screenMob)
                padding: 0
                padding-right: 2rem

    &__col-headline 
        margin: 0
        margin-bottom: 1rem
        text-transform: uppercase
        font-size: 1.4rem
        line-height: 2.2rem

        @media (max-width: $screenMob)
            margin-bottom: 1.3rem
            text-align: center
            letter-spacing: 0.05rem 

    &__text 
        margin: 0
        margin-bottom: 1.3rem
        font-size: 1.2rem
        line-height: 1.5rem

        @media (max-width: $screenMob)
            line-height: 1.4rem

    &__text-link
        text-decoration: underline
        color: #2c3e5d

.footer-nav 
    display: flex
    justify-content: space-between
    margin: 0
    margin-bottom: 4.9rem
    padding: 0
    list-style: none

    @media (max-width: $screenMob)
        flex-wrap: wrap 
        margin-bottom: 1.1rem

    li 

        @media (max-width: $screenMob)
            margin-bottom: 1.8rem
            width: 100%

        &:hover 

            .footer-nav__link 
                color: $blue

    &__icon
        display: flex 
        flex-direction: column
        justify-content: flex-end
        box-sizing: border-box
        padding-bottom: 1.7rem
        height: 7rem

        @media (max-width: $screenMob)
            display: inline-block
            vertical-align: middle
            padding-bottom: 0
            height: auto
            width: 2.4rem
            min-width: 2.4rem   

        img 
            display: block
            margin: 0 auto

            @media (max-width: $screenMob)
                width: auto
                height: auto
                max-height: 1.9rem
                max-width: 1.6rem   

    a 
        color: #2c3e5d

        @media (max-width: $screenMob)
            display: flex
            align-items: center

    &__link
        font-size: 1.5rem
        line-height: 2.2rem
        color: #2c3e5d
        text-decoration: underline
        transition: color 0.3s ease
