.page-header
    top: 0
    left: 0
    right: 0
    padding-top: 1rem
    padding-bottom: 1.2rem
    z-index: 3

    .main &
        padding-top: 2.3rem

        @media (max-width: $screenMob)
            padding-top: 0.5rem

    @media (max-width: $screenMob)
        padding-top: 0.5rem
        padding-bottom: 0.6rem
        background-color: #0a1932

.page-header__wrapper
    display: flex
    align-items: center

.logo 
    display: block
    margin-right: 4.9rem
    width: 12.6rem

    @media (max-width: $screenMob)
        margin-left: auto
        margin-right: auto
        width: 7.7rem
        min-width: 7.7rem
        height: 4.1rem

    img 
        display: block
        width: 100%
        height: auto

.header-navigation 
    margin-right: auto

    @media (max-width: $screenMob) 
        display: none

    ul
        display: flex
        margin: 0
        padding: 0
        list-style: none

    li 
        margin-right: 4rem
        text-transform: uppercase
        font-family: $font-alt
        font-weight: 500
        font-size: 2rem
        line-height: 5.5rem

        &._stickers
            padding-left: 6.8rem
            position: relative

            &:before
                content: ''
                display: block
                width: 6.6rem
                height: 100%
                position: absolute
                top: 0
                left: 0
                background: url("../images/sticker.png") 0 0 no-repeat
                background-size: contain

            a
                color: $blue

    a 
        position: relative
        display: block
        padding-top: 1rem
        color: #fff
        transition: opacity 0.3s ease

        &:hover,
        &:focus, 
        &:active 
            outline: none 

            &:after 
                content: ""
                position: absolute
                bottom: 1rem
                left: 0
                right: 0
                border-bottom: 0.1rem solid $blue

.user-nav 
    margin: 0
    margin-right: 6.5em
    padding: 0
    list-style: none

    @media (max-width: $screenMob)
        display: flex
        position: absolute
        top: 0.7rem
        right: 2rem
        margin-right: 0

    .sticker
        display: none

        @media (max-width: $screenMob)
            display: block

        a
            display: block
            width: 2.9rem
            height: 2.9rem
            background: url("../images/sticker-mobile.png") center no-repeat
            background-size: contain

    &._logged-in 
        margin-right: 8.5rem

        @media (max-width: $screenMob)
            margin-right: 0

    li 
        margin-left: 4rem
        text-transform: uppercase
        font-family: $font-alt
        font-weight: 500
        font-size: 2rem
        line-height: 5.5rem
        display: flex

        @media (max-width: $screenMob)
            font-size: 0
            margin-left: 0.8rem
            line-height: 1rem

    a 
        position: relative
        padding-top: 1rem
        color: #fff
        transition: opacity 0.3s ease

        @media (max-width: $screenMob)
            padding-top: 0

        &.logout
            fill: #fff
            width: 1.6rem
            margin-left: 0.8rem

        &:hover,
        &:focus, 
        &:active 
            outline: none 