// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-icon-family-name: 'icon-icon-family';
$icon-icon-family-x: 161px;
$icon-icon-family-y: 204px;
$icon-icon-family-offset-x: -161px;
$icon-icon-family-offset-y: -204px;
$icon-icon-family-width: 27px;
$icon-icon-family-height: 24px;
$icon-icon-family-total-width: 472px;
$icon-icon-family-total-height: 297px;
$icon-icon-family-image: '../images/sprites-built/desktop/main.png';
$icon-icon-family: (161px, 204px, -161px, -204px, 27px, 24px, 472px, 297px, '../images/sprites-built/desktop/main.png', 'icon-icon-family', );
$icon-icon-key-name: 'icon-icon-key';
$icon-icon-key-x: 271px;
$icon-icon-key-y: 164px;
$icon-icon-key-offset-x: -271px;
$icon-icon-key-offset-y: -164px;
$icon-icon-key-width: 33px;
$icon-icon-key-height: 16px;
$icon-icon-key-total-width: 472px;
$icon-icon-key-total-height: 297px;
$icon-icon-key-image: '../images/sprites-built/desktop/main.png';
$icon-icon-key: (271px, 164px, -271px, -164px, 33px, 16px, 472px, 297px, '../images/sprites-built/desktop/main.png', 'icon-icon-key', );
$icon-icon-m-name: 'icon-icon-m';
$icon-icon-m-x: 192px;
$icon-icon-m-y: 204px;
$icon-icon-m-offset-x: -192px;
$icon-icon-m-offset-y: -204px;
$icon-icon-m-width: 28px;
$icon-icon-m-height: 17px;
$icon-icon-m-total-width: 472px;
$icon-icon-m-total-height: 297px;
$icon-icon-m-image: '../images/sprites-built/desktop/main.png';
$icon-icon-m: (192px, 204px, -192px, -204px, 28px, 17px, 472px, 297px, '../images/sprites-built/desktop/main.png', 'icon-icon-m', );
$icon-icon-mail-name: 'icon-icon-mail';
$icon-icon-mail-x: 236px;
$icon-icon-mail-y: 164px;
$icon-icon-mail-offset-x: -236px;
$icon-icon-mail-offset-y: -164px;
$icon-icon-mail-width: 31px;
$icon-icon-mail-height: 22px;
$icon-icon-mail-total-width: 472px;
$icon-icon-mail-total-height: 297px;
$icon-icon-mail-image: '../images/sprites-built/desktop/main.png';
$icon-icon-mail: (236px, 164px, -236px, -164px, 31px, 22px, 472px, 297px, '../images/sprites-built/desktop/main.png', 'icon-icon-mail', );
$icon-icon-scales-name: 'icon-icon-scales';
$icon-icon-scales-x: 198px;
$icon-icon-scales-y: 164px;
$icon-icon-scales-offset-x: -198px;
$icon-icon-scales-offset-y: -164px;
$icon-icon-scales-width: 34px;
$icon-icon-scales-height: 28px;
$icon-icon-scales-total-width: 472px;
$icon-icon-scales-total-height: 297px;
$icon-icon-scales-image: '../images/sprites-built/desktop/main.png';
$icon-icon-scales: (198px, 164px, -198px, -164px, 34px, 28px, 472px, 297px, '../images/sprites-built/desktop/main.png', 'icon-icon-scales', );
$icon-icon-search-name: 'icon-icon-search';
$icon-icon-search-x: 0px;
$icon-icon-search-y: 204px;
$icon-icon-search-offset-x: 0px;
$icon-icon-search-offset-y: -204px;
$icon-icon-search-width: 95px;
$icon-icon-search-height: 93px;
$icon-icon-search-total-width: 472px;
$icon-icon-search-total-height: 297px;
$icon-icon-search-image: '../images/sprites-built/desktop/main.png';
$icon-icon-search: (0px, 204px, 0px, -204px, 95px, 93px, 472px, 297px, '../images/sprites-built/desktop/main.png', 'icon-icon-search', );
$icon-icon01-name: 'icon-icon01';
$icon-icon01-x: 198px;
$icon-icon01-y: 0px;
$icon-icon01-offset-x: -198px;
$icon-icon01-offset-y: 0px;
$icon-icon01-width: 146px;
$icon-icon01-height: 160px;
$icon-icon01-total-width: 472px;
$icon-icon01-total-height: 297px;
$icon-icon01-image: '../images/sprites-built/desktop/main.png';
$icon-icon01: (198px, 0px, -198px, 0px, 146px, 160px, 472px, 297px, '../images/sprites-built/desktop/main.png', 'icon-icon01', );
$icon-icon02-name: 'icon-icon02';
$icon-icon02-x: 0px;
$icon-icon02-y: 0px;
$icon-icon02-offset-x: 0px;
$icon-icon02-offset-y: 0px;
$icon-icon02-width: 194px;
$icon-icon02-height: 200px;
$icon-icon02-total-width: 472px;
$icon-icon02-total-height: 297px;
$icon-icon02-image: '../images/sprites-built/desktop/main.png';
$icon-icon02: (0px, 0px, 0px, 0px, 194px, 200px, 472px, 297px, '../images/sprites-built/desktop/main.png', 'icon-icon02', );
$icon-icon03-name: 'icon-icon03';
$icon-icon03-x: 348px;
$icon-icon03-y: 0px;
$icon-icon03-offset-x: -348px;
$icon-icon03-offset-y: 0px;
$icon-icon03-width: 124px;
$icon-icon03-height: 184px;
$icon-icon03-total-width: 472px;
$icon-icon03-total-height: 297px;
$icon-icon03-image: '../images/sprites-built/desktop/main.png';
$icon-icon03: (348px, 0px, -348px, 0px, 124px, 184px, 472px, 297px, '../images/sprites-built/desktop/main.png', 'icon-icon03', );
$icon-play-blue-name: 'icon-play-blue';
$icon-play-blue-x: 130px;
$icon-play-blue-y: 204px;
$icon-play-blue-offset-x: -130px;
$icon-play-blue-offset-y: -204px;
$icon-play-blue-width: 27px;
$icon-play-blue-height: 35px;
$icon-play-blue-total-width: 472px;
$icon-play-blue-total-height: 297px;
$icon-play-blue-image: '../images/sprites-built/desktop/main.png';
$icon-play-blue: (130px, 204px, -130px, -204px, 27px, 35px, 472px, 297px, '../images/sprites-built/desktop/main.png', 'icon-play-blue', );
$icon-play-name: 'icon-play';
$icon-play-x: 99px;
$icon-play-y: 204px;
$icon-play-offset-x: -99px;
$icon-play-offset-y: -204px;
$icon-play-width: 27px;
$icon-play-height: 35px;
$icon-play-total-width: 472px;
$icon-play-total-height: 297px;
$icon-play-image: '../images/sprites-built/desktop/main.png';
$icon-play: (99px, 204px, -99px, -204px, 27px, 35px, 472px, 297px, '../images/sprites-built/desktop/main.png', 'icon-play', );
$spritesheet-width: 472px;
$spritesheet-height: 297px;
$spritesheet-image: '../images/sprites-built/desktop/main.png';
$spritesheet-sprites: ($icon-icon-family, $icon-icon-key, $icon-icon-m, $icon-icon-mail, $icon-icon-scales, $icon-icon-search, $icon-icon01, $icon-icon02, $icon-icon03, $icon-play-blue, $icon-play, );
$spritesheet: (472px, 297px, '../images/sprites-built/desktop/main.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
